{% extends "base.html" %}
{% load url from future %}
{% block title %}Log in{% endblock %}

{% block content %}

<div class="red login-page-box">
	<p class="error no-margin">
	{% if form.errors %}
		Please correct the errors below:
	{% else %}
		&nbsp; 
	{% endif %}
	</p>
	<div class="form-row">
		<form method="post" class="no-margin" action="?next={{ next|default:"/" }}">
		{% csrf_token %}
			<div class="form-third">
					<h4 for="id_username">Username: <small style="color:black">(usernames are case sensitive)</small></h4>
					{{ form.username }}
					<p class="error">
					{% if form.username.errors %}
						{{ form.username.errors|join:", " }}
					{% else %}
						&nbsp;
					{% endif %}
					</p>
			</div>
			<div class="form-third">
					<h4 for="id_password">Password:</h4>
					{{ form.password }}
					<p class="error">
						{% if form.password.errors %}
							{{ form.password.errors|join:", " }}
						{% else %}
							&nbsp;
						{% endif %}
					</p>
			</div>
			<div class="form-third">
				<input type="submit" class="glean-button yellow-button login-margin" value="Glean!" />
			</div>
		</form>
	</div>

	<div class="login-span">
		<h4> <a class="login-link" href="{% url 'auth_password_reset' %}">Forgot your password?</a></h4>
		<p>Not a gleaner yet? <a class="login-link" href="{% url 'registration_register' %}">Sign Up Now</a></p>
	</div>
</div>
<div class="yellow-bar short-bar">
	&nbsp;
</div>
	{% endblock %}