<html>
    <head>
        <title>
            New User
        </title>
    </head>
<body>
<h3>
{{object.first_name}} {{object.last_name}} Registered to Glean in your Area!</h3>
<p>
{{object.first_name}} {{object.last_name}} ({{object.email}}) has filled out the registration form.</p>
<p style='font-size:0.8em'>
You are recieving this notification because you opted into notifications when new volunteers joined in counties your Member Organization gleans in. To stop recieving these notifications, sign into the Gleaners Interface and change your Member Organization preferences.</p>
</body>
</html>