<p>I hereby authorize Salvation Farms permission to use my likeness in a photograph in 
any and all of its publications, including but not limited to all Salvation Farms printed and digital publications.  
I understand and agree that any photograph using my likeness will become property of Salvation Farms and 
will not be returned.</p>
<p>I acknowledge that since my participation with Salvation Farms is voluntary, I will receive no financial 
compensation.</p>
<p>I hereby irrevocably authorize Salvation Farms to edit, alter, copy, exhibit, publish or distribute photos for 
purposes of publicizing Salvation Farms programs or for any other lawful purpose.  In addition, I waive the 
tight to inspect or approve the finished product, including written or electronic copy, wherein my likeness 
appears.  Additionally, I waive any tight to royalties or other compensation arising or related to the use of 
photographs.</p>
I hereby hold harmless and release and forever discharge Salvation Farms from all claims, demands, and 
causes of action which I, my heirs, representative, executors, administrators, or any other person acting on my 
behalf or on behalf of my estate have or may have by reason of this authorization.</p>
<p>I am at least 18 years of age and am competent to contract in my own name. I have read this release before 
signing below and I fully understand the contents, meaning and impact of this release.</p>