{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block content %}

  {% if form.errors %}
  <p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
  
  {% endif %}

  <h1>Create an account</h1>
  
  <form method="post" action="" class="wide">
	{% csrf_token %}
    {{form}}
    <p class="submit"><input type="submit" value="Register &rarr;"></p>
  </form>
  
{% endblock %}

{% block related %}
<h3>Thanks for your interest in gleaning!</h3>

<p> Before you head out to farms, we’d like to know how best to contact you, where you’re interested in gleaning, and your emergency contact.</p>

<p>Enter a username for logging in and posting comments to the rideshare board –choose something you’re comfortable with other registered volunteers viewing.</p>

<i>How and when will I be contacted? </i>
<p>After filling out this form you’ll receive a confirmation email from the Interface – but gleaning organizations cannot email you until after you RSVP for an event they’re hosting…and they cannot view any of your contact information until after you actually attend a glean. Only once you’ve put in hours with an organization may they send additional correspondence.</p>

<p>We also ask that every volunteer sign a waiver of liability and volunteer agreement before entering any farm fields – please read the text below and consider whether you can commit to these agreements.</p>
 <h5>Waiver of Liability</h5>
<p>I understand that Salvation Farms is designed to let me harvest and process surplus farm produce for donation 
to vulnerable populations in Vermont through connection with local and state agencies that serve the food 
and nutritionally insecure.  I understand that I must work safely and treat participating farm and kitchen 
properties with respect and care.
With this knowledge, I, and anyone accompanying me, do hereby 
expressly agree that all our activities shall be at our sole risk and that neither Salvation Farms volunteers or its
project leaders, nor the donors whose property we enter shall be held liable for any claims, demands, injuries, 
damages, actions, or causes of action whatsoever, to person or property arising out of or connected with our 
participation in this farm surplus management project.</p>

<p>[volunteer agreement text]</p>

<h5>Photo Release</h5>
<p>I, ____________________, hereby authorize Salvation Farms permission to use my likeness in a photograph in 
any and all of its publications, including but not limited to all Salvation Farms printed and digital publications.  
I understand and agree that any photograph using my likeness will become property of Salvation Farms and 
will not be returned.</p>
<p>I acknowledge that since my participation with Salvation Farms is voluntary, I will receive no financial 
compensation.</p>
<p>I hereby irrevocably authorize Salvation Farms to edit, alter, copy, exhibit, publish or distribute photos for 
purposes of publicizing Salvation Farms programs or for any other lawful purpose.  In addition, I waive the 
tight to inspect or approve the finished product, including written or electronic copy, wherein my likeness 
appears.  Additionally, I waive any tight to royalties or other compensation arising or related to the use of 
photographs.</p>
I hereby hold harmless and release and forever discharge Salvation Farms from all claims, demands, and 
causes of action which I, my heirs, representative, executors, administrators, or any other person acting on my 
behalf or on behalf of my estate have or may have by reason of this authorization.</p>
<p>I am at least 18 years of age and am competent to contract in my own name. I have read this release before 
signing below and I fully understand the contents, meaning and impact of this release.</p>
{% endblock %}
