{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Sign up{% endblock %}

{% block body %}
<h1>Create an Account</h1>
<div class="red reg-box">
	<h4>Thanks for your interest in gleaning!</h4>
	<p>Before you head out to farms, we need to know how to contact you and keep you safe. Please provide the following info to get connected to a gleaning program near you.</p>
	<h4>How and when will I be contacted?</h4>
	<p>We'll send you a confirmation email when you submit this form. We will not share your contact information with anyone except the Gleaning Collective partners who organize gleaning in the region(s) you have selected to glean in.</p>
</div>

{% crispy form %}

<style>
.add-on {
	background-color: transparent !important;
	border: none !important;
}
.row {
    margin-left: 0px !important;
  }
</style>

<div id="waiver-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Waiver of Liability</h3>
  </div>
  <div class="modal-body">
    {% include 'registration/waiver_of_liability.html' %}
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<div id="agreement-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Volunteer Agreement</h3>
  </div>
  <div class="modal-body">
    {% include 'registration/volunteer_agreement.html' %}
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<div id="photo-release" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Photo Release</h3>
  </div>
  <div class="modal-body">
    {% include 'registration/photo_release.html' %}
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
{% endblock body %}
{% block related %}
<h3>Thanks for your interest in gleaning!</h3>

<p> Before you head out to farms, we’d like to know how best to contact you, where you’re interested in gleaning, and your emergency contact.</p>

<p>Enter a username for logging in and posting comments to the rideshare board –choose something you’re comfortable with other registered volunteers viewing.</p>

<i>How and when will I be contacted? </i>
<p>After filling out this form you’ll receive a confirmation email from the Interface – but gleaning organizations cannot email you until after you RSVP for an event they’re hosting…and they cannot view any of your contact information until after you actually attend a glean. Only once you’ve put in hours with an organization may they send additional correspondence.</p>

<p>We also ask that every volunteer sign a waiver of liability and volunteer agreement before entering any farm fields – please read the text below and consider whether you can commit to these agreements.</p>
 <h5>Waiver of Liability</h5>
{% endblock %}