<html>
    <head>
        <title>
            New User
        </title>
    </head>
<body>
<h3>
{{object.first_name}} {{object.last_name}} Registered to Glean, but no one hosts gleans in their area!</h3>
<p>
{{object.first_name}} {{object.last_name}} ({{object.user.email}}) has filled out the registration form.</p>
<p style='font-size:0.8em'>
You are recieving this notification because Salvation Farms opted into notifications when new volunteers joined in counties that no Member Organization coordinates gleans in. To stop recieving these notifications, sign into the Gleaners Interface and change your settings.</p>
</body>
</html>