





<ol>

<li>I understand that a donor farm is under no obligation to donate food to gleaners/volunteers. Picking food at a particular farm is a privilege and not a right.</li>  

<li>I will arrive 5 minutes early and wait at the designated meeting/parking area until the gleaning coordinator arrives with instructions. If I have arrived late I will enter the farm fields cautiously to ensure my safety, being aware of my surroundings, and follow all traveled pathways to maintain distance from farm crops.</li>

<li>I will wait to enter any farm fields until I have received instruction regarding a specific glean.</li>

<li>I will work to the best of my ability to follow all guidelines set out for me regarding the host farm, its produce, land, and equipment. And I will work at a pace that is comfortable for me.</li>

<li>I will glean only the crops assigned to me and only occupy the area designated for gleaning.</li>

<li>I will be courteous and show respect to all field leaders, gleaners, farmers, and donation recipients.</li>

<li>I will be an active listener and learner.  I will offer others assistance in the field when I can, and ask for help or clarification if I need it.</li>

<li>I will make sure gleaning areas are clear of any trash and all supplies are loaded into the gleaning coordinator’s vehicle.</li>

<li>I will alert the gleaning coordinator if I plan to participate in any glean accompanied by any individuals (such as young children, personal aides, etc.) who are not registered online with the Vermont Gleaning Collective. I understand it is my responsibility to ensure that these folks abide by these expectations.</li>

<li>If I choose to fill a farm pick-up or produce delivery volunteer role, I will:
	<ul>

		<li>Be pleasant and presentable when dropping off produce donations at any site.</li>

		<li>Retrieve donations at the arranged time & location.</li>

		<li>Respect the property at which donations are stored and follow instructions to access this storage.</li>

		<li>Ensure that the recipient site is aware of the donation, or leave it in a pre-arranged area if I have not given it to a site representative directly.</li>

		<li>Show pride in my volunteer work and be available to answer questions from donation sites or recipients regarding the Vermont Gleaning Collective, Member Organizations or the produce donated.</li>

		<li>Relay, to the best of my ability, any information provided to me from any site or farm being served as to how I or the Vermont Gleaning Collective can work to serve them better.</li>
	</ul>
</li>
<li>If I choose to fill an administrative volunteer role, I will:
	<ul>
		<li>be courteous to all individuals that I come in contact with as it relates to my volunteer position, i.e. on the phone, tabling, and in the office.</li>
		<li>arrive on time to the administrative work space, and follow instructions from the Gleaning Coordinator regarding tasks to be completed and the office equipment I may be asked to use.</li>
		<li>keep my work station tidy.</li>
		<li>do only the tasks assigned to me.</li>
		<li>ask for help when something is unclear or when I am struggling with an assigned task.</li>
		<li>work at a pace that is comfortable for me. I will offer observations and feedback about the tasks I am working on to help improve the efficiency of my work.</li>
		<li>ensure that my task is complete before leaving or arrange for another person to complete my task.</li>
	</ul>
</li>
</ol>
<p>I have read, understand and agree to abide by this agreement. My failure to follow the above guidelines may result in the termination of my involvement with all Gleaning Collective Member activities.</p>