<ul>
	<li>1. I understand that a donor farm is under no obligation to donate food to gleaners/volunteers. Picking food at a particular farm is a privilege and not a right.</li>

	<li>2. I will arrive 5 minutes early and wait at the designated meeting/parking area until the gleaning coordinator arrives with instructions. If I have arrived late I will enter the farm fields cautiously to ensure my safety, being aware of my surroundings, and follow all traveled pathways to maintain a safe distance from farm crops.</li>/

	<li>3. I will wait to enter any farm fields until I have received instruction regarding a specific glean.</li>

	<li>4. I will work to the best of my ability to follow all guidelines set out for me regarding the host farm: its produce, land, and equipment. And I will work at a pace that is comfortable for me.</li>

	<li>5. I will glean only the crops assigned to me and only occupy the area designated for gleaning.</li>

	<li>6. I will be courteous and show respect to all field leaders, gleaners, farmers, and donation recipients.</li>

	<li>7. I will be an active listener and learner. I will offer others assistance in the field when I can.</li>

	<li>8. I will make sure gleaning areas are clear of any trash and all supplies are loaded into the gleaning coordinator’s vehicle.</li>

	<li>9. I will alert the gleaning coordinator if I plan to participate in any glean accompanied by any individuals (such as young children, personal aides, etc.) who are not registered online with the Vermont Gleaning Collective. I understand it is my responsibility to ensure that these folks know and abide by the expectations outlined in this agreement.</li>
</ul>