<p>I understand that Salvation Farms is designed to let me harvest and process surplus farm produce for donation to vulnerable populations in Vermont through connection with local and state agencies that serve the food and nutritionally insecure.  I understand that I must work safely and treat participating farm and kitchen properties with respect and care.</p>
<p>With this knowledge, I, and anyone accompanying me, do hereby 
expressly agree that all our activities shall be at our sole risk and that neither Salvation Farms volunteers or its
project leaders, nor the donors whose property we enter shall be held liable for any claims, demands, injuries, 
damages, actions, or causes of action whatsoever, to person or property arising out of or connected with our 
participation in this farm surplus management project.</p>