/* ==========================================================================
   New Templates CSS
   ========================================================================== */

body{
   background-image:url("/static/images/arches.jpg");
   background-repeat:repeat;
   font-family:'Kameron', serif;
   font-size:13px;
   padding: 0;
}
.container{
   margin: 0;
}

.body-container {
   width:1300px;
}


#navbar-container{
   width:100%;
   margin:0 0 24px 0;
   padding:0;
   height:30px;
   background-color:#6e9614;
}

#wrapper{
   width:1169px;
   margin:auto;
   margin-bottom: 135px;
}
/*
.push {
	height: 30px; added by josh for sticky footer
}
*/
.heading-container{
   margin:0;
   padding:0;
}

#footer-overall {
   position: relative;
}

#gleaners-container{
    height: 289px;
    z-index: -1;
}

#footer-container{
   margin:73px 0 0 0;
   height:230px;
   background-color: #6e9614;
   text-align: left;
   padding: 5px 0px 5px 25px;
   color: #444;
   border-top-style: solid;
   border-top-width: 5px;
   border-top-color: #6e8614;
   position: relative;
   /*width: 100%;*/
   bottom: auto;
   margin: 0px;
   width: 1240px;
}

#footer-container > div > div {
   display: inline-block;
   float: left;
   width: 250px;
   margin: 0px 20px;
   height: 200px;

}

#footer-container ul {
   list-style: none;
}

#footer-container a:link {
   color: #444;
}

#footer-container a:visited {
   color: #444;
}

#footer-container a:hover {
   color: #6e6614;
}

#footer-container a:active {
   color: #444;
}

#footer-container > div {
   height: 230px;
   width: 1240px;
}

.header-title {
   margin: 24px 5px;
   font-family:'Kameron', serif;
   letter-spacing: 4px;
   font-weight:bold;
}

#link-section-container li {
    border-top-style: dotted;
    border-top-color: #ffc64a;
    border-top-width: 2px;
    padding: 2px 0px;
}

#link-section-container li:nth-of-type(1){
    border-top-style: solid;
    border-top-color: #ffc64a;
    border-top-width: 0px;
}

h1, h2, h3, h4, h5, h6 {
   font-weight:normal;
   color:#222;
}
h3 {
   font-size:24px;
   font-weight:bold;
}
.half {
   width:50%;
}
.forty-three {
   width: 43%;
}
.row {
   margin-left: 0;
}
.cream-box {
   background-color:#fbf8cc !important;
   border: 1px solid #ccc;
}

.slight-margin-top {
   margin-top:15px;
}
.gleaners-space {
   margin-bottom: 400px;
}

/* ==========================================================================
   Fighting with the Navbar
   ========================================================================== */

.navbar-inner{
   background-color:transparent;
   background-image: none;
   min-height:0;
   border: none;
}

.navbar .nav>li>a {
   color:#444;
   text-shadow:none;

}

.navbar .brand {
   color:#444;
   padding: 5px 20px;
   text-shadow:none;
}

.navbar .nav>li>a {
   padding:5px 15px;
}
.no-list {
   list-style: none;
   margin: 0;
}
/* ==========================================================================
   Footer
   ========================================================================== */

#gleaners{
   float: right;
   position: relative;
   z-index:-1;
   
}

/* ==========================================================================
   Generic Page
   ========================================================================== */

.medium-bar {
   width: 897px !important;
   height:9px;
   margin: 12px 0 53px 0;
   clear: both;
}

.yellow {
   background-color:#ffc64a;
}

/* ==========================================================================
   anon_home.html
   ========================================================================== */
.anon-login {
   width: 1169px;
   padding: 0;
   margin:0 0 53px;

}
.red {
   background-image:url("/static/images/red-pxl.png");
   background-repeat:repeat;
}
.red > form {
   border:none;
   padding:0;
}
.login-box{
   width:565px;
   height: 361px;
   padding:23px 21px 0;
   clear:left;
   float:left;
   font-size:16px;
}
.login-box > h4 {
   font-size: 18px;
}
.login-box > h4 > a{
   font-size: 18px;
   font-weight:bold;
   text-decoration: none;
   color: #ffc64a;
}
.slider-holder {
   margin:0 0 0 18px;
   padding:11px;
   background-image:url("/static/images/yellow-pxl.png");
   background-repeat:repeat;
   width:475px;
   height: 361px;
   clear:none;
   float:left;
}
.slider-holder > img {
   width:98%;
}
.glean-submit {
   background-color:#ffc64a;
   margin: 0 5px 10px;
}
.yellow-box{
   background-color: #f5f8c5;
   overflow: auto;
}
.yellow-box + .yellow-box {
   margin-top: 12px;
}
.green-top {
   border-top: 10px solid #6e9614;
}
.green-top-slim {
   border-top: 5px solid #6e9614;
}
.red-top {
   border-top: 10px solid #d25231;
}
.yellow-top {
   border-top: 10px solid #ffc64a;
}
.about-box {
   width: 788px;
   height: 134px;
   margin: 0 0 53px;
}
.about-box > div > p {
   margin: 11px 24px;
   line-height:16px;
}
#partners > div > h3 {
   font-size:24px;
   margin: 31px 0;
}
.partner-image {
   margin-left: 18px;
}

#glean-submit {
   margin: 0 6px 9px;
   background-color: #ffc64a;
   box-shadow: -2px -2px 2px inset #8e6e29;
}
#map-container {
   margin-bottom:14px;
   padding:10px;
}
#map-canvas {
   height:383px;
}
.full-width {
   width:1130px;
   clear:both;
   padding:0 20px 20px 20px;
}
.forty-percent {
   width:40%;
   clear:none;
   float:left;
   min-height:200px;
}
.sixty-percent {
   min-height:200px;
   width:49.45%;
   margin-left:3%;
   padding:0 20px 20px 20px;
   clear:none;
   float:left;
}

/* ==========================================================================
   home.html
   ========================================================================== */


a.day-name {
   text-decoration:none;
    color:#444;
    font-weight: bold;

}
.future-link {
   margin:20px 0 0 0;

}
.post-title {
   color:black;
   margin: 20px 0 0px 40px;

}
.post-subheading{
   color:#555;
   margin:0 0 8px 80px;
}

#calendar {
   margin:0;
   width:1162px;
   border: #6e9614 solid 1px;
   background-color: #fbf8cc;
}
.calendar-container {
   width: 1170px;
   padding: 10px;
}
.calendar-container > h3 {
   margin: 12px 2px;
   width:300px;
   clear:left;
   margin: 0;
}

.calendar-container > .row {
   margin: 0;
   padding:2px;
}
.day-class {
   float:left;
   width:164px;
   border:#6e9614 solid 1px;
}
.today {
   background-color:#FEE0C6;
}
.day-title {
   border:#6e9614 solid 2px;
   border-bottom:none;
   height:29px;
   text-align: center;
}
.day-title > h4{
   margin:4px;
   font-size:13px;
   font-weight:bold;
}

.day-body {
   border: 2px #6c9614 solid;
   height:119px;
}
.day-body > ul {
   list-style: none;
   margin: 0;
   text-align: center;
}
#glean-wrapper{

}
.glean-button{
   margin: 17px 4px;
   background-color: #6c9614;
   color: #eee;
   font-weight: bold;
   text-shadow: 0px 0px 1px #eee;
}
.green-button {
   background-color: #6c9614;
}
.yellow-button {
   background-color: #ffc64a;
   color: #6c9614;
   text-shadow: 0px 0px 0px #c4d5a1;

}
.red-button {
   background-color: #d25231;
}
.no-margin {
   margin: 0;
}
.yellow-bar {
   width:1190px;
   height:9px;
   margin: 12px 0 53px 0;
   background-color:#ffc64a;
}
.short-bar {
   width:828px !important;
   margin-bottom:200px;
}
/* ==========================================================================
   Glean Event
   ========================================================================== */

.not-attending {
   font-size: 23px;
   margin-top: 30px;
   font-weight: bold;
   color: #d25231;
}

.attending {
   font-size: 33px;
   margin-top: 30px;
   font-weight: bold;
   color: #6c9614;
}

#glean-header {
   width: 1154px;
   clear: both;
   height: 105px;
   margin: 5px 5px 5px 5px;
}
#glean-index-header {
   width: 1165px;
   clear: both;
   height: 66px;
   margin: 5px 5px 5px 5px;
}
.glean-index-red {
   padding: 0 20px 20px 20px;
   font-size: 18px;
}
.glean-index-red > h3 {
   color: #ffc64a;
   margin-bottom: 0;
   
}
.glean-index-red-child {
   display: table;
   height: 18px;
   width: 100%;
   padding-top: 20px;
}
.glean-index-red-child > h4 {
   color: #ffc64a;
   display: table-cell;
   vertical-align: middle;
}
#glean-titles {
   width: 45%;
   clear: none;
   float: left;
}
#glean-buttons {
   clear: none;
   float: right;
   margin: 39px 0 0 0;
}
#glean-wrapper {
   width: 100%;
   clear: both;
}
#glean-index-controls {
   margin: 10px auto 0 auto;
}
#glean-index-form {
   float: left;
}
#glean-index-form > input + label, #glean-index-form > input + input  {
   margin-left: 18px;
}
#glean-index {
   width: 1130px;
   min-height: 200px;
   padding: 20px;
   overflow: auto;
   margin-bottom: 50px; /*changed from 300px hack*/
}
.glean-column {
   width: 330px;
   clear: none;
   float: left;
   margin: 20px 20px;

}

#download-list {
   margin: 0 0 0 18px;
}
.glean-half {
   width: 577px;
   clear: none;
   float: left;
}
.more-buttons {
   float:left;
   margin: 2px 0 0 18px;
}
.glean-half + .glean-half {
   margin-left: 15px;
   width:564px;
}
.glean-details-half {
   width:50%;
   float:left;
}
.glean-details-quarter {
   min-height:98px;
   padding:10px;
   text-align:center;
}
.glean-details-quarter > h3:first-child {
   margin-top:10px;
}
.glean-details-quarter > h3 {
   font-size: 24px;
   font-weight: bold;
   margin: 0;
}
.glean-address {
   font-size: 24px;
   margin-bottom:0px;
}
.description-row {
   clear: both;
   overflow: auto;
   padding: 0 40px;
}
.directions-instructions {
   padding: 0 24px 24px 24px;
}
.comments-holder{
   height: 100px;
   padding: 10px;
}
.comments {
   /*border: 1px solid #e5e5e5;*/
}
.print-table {
   border-spacing: 0;
}
/* ==========================================================================
   Farm Detail
   ========================================================================== */
#farm-header {
   width: 1170px;
   clear: both;
   height: 65px;
   margin-bottom: 5px;
}
.farm-third {
   padding: 0 20px 20px 20px;
   width: 350px;
   float: left;
   min-height: 100px;
}
.farm-third > ul {
   font-size: 18px;
}
.farm-buttons {
   margin: 39px 0 0 0;
}
#index-controls {
   height:31px;
   padding:10px ;
}
.location > h4 {
   font-weight: bold;
}

/* ==========================================================================
   Login page
   ========================================================================== */
.login-page-box {
   width:788px;
   height:253px;
   padding: 5px 20px;
   overflow:auto;
   font-size: 18px;
}
.form-third {
   width:200;
   clear:none;
   float:left;
}
.form-third + .form-third {
   margin-left:20px;
}
.login-link {
   font-weight:bold;
   color: #ffc64a;
   text-shadow: 0px 0px 0px #c4d5a1;
}
.form-row {
   width: 788px;
}
.login-span {
   clear:both;
}
.login-margin {
   margin: 42px 0 0 0;
}

/* ==========================================================================
   Reset Page
   ========================================================================== */
.reset-box {
   padding:10px;
   width: 670px;
}
#reset-button {
   margin: 0 0 10px 10px;
}
.reset-bar {
   width: 670px;
   margin-bottom: 400px;
}
/* ==========================================================================
   Reset Page
   ========================================================================== */

.logout {
   width: 630px;
   height: 68px;
   padding: 20px;
   font-size: 18px;
   font-weight: bold;
}
/* ==========================================================================
   Reset Page
   ========================================================================== */

.reg-box {
   font-size: 16px;
   padding: 1px 443px 10px 10px;
}
.reg-box > h4 {
   font-style: italic;
   font-weight: bold;
}
legend .no-margin {
   border-bottom: none;
   margin-bottom: -13px;
}

/* ==========================================================================
   Forms!
   ========================================================================== */
.county-li {
   clear: both;
   overflow: auto;
}
.county-li + .county-li {
   margin-top: 20px;
}
.form-notes {
   width: 526px;
}
#hours-form > input, #hours-form > label {
   float: left;
   max-width: 150px;
   margin: 5px;
}
input[disabled] {
   background-color:#b5ca89;
}
.table-form{
    border: 1px #e5e5e5 solid;
    border-radius: 5px;
    padding: 13px;
    background-color: #6c9614;
}
.table-important{
   background-image:url("/static/images/red-pxl.png");
   background-repeat:repeat;
}
.table-form + .table-form{
    margin-top: 42px;
}
label {
   font-size: 18px;
   margin-bottom:0;
}
th>label{
   float: right;
   margin-right: 18px;
}
.tabel-important>td{
   text-align: left;
}
td>input[type="checkbox"]{
   float: left;
}
.modal-header h3{
   text-align: left;
}
.row > div.control-group {
   clear: none;
   float: left;
}
.row > div.control-group + .control-group {
   margin-left: 25px;
}
input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, select {
   background-color: #fbf8cc;
   margin-bottom: 0;
}
.form-checkboxes {
   background-color: #fbf8cc;
   width:520px;
   -moz-box-shadow: inset 1px 1px 1px #000000;
   -webkit-box-shadow: inset 1px 1px 1px #000000;
   box-shadow: inset 1px 1px 1px #000000;
   padding: 10px;
}
.controls > label.checkbox.inline {
   margin-left: 10px;
   min-width:125px;
}
h3.lbl {
   margin-bottom: -5px;
}
h3.lbl + h4 {
   margin-top: 0;
}
label.checkbox {
   clear: both;
}
.two-thirds{
   width: 66%;
   float: left;
}
.one-third{
   width: 33%;
   float: left;
}
#announce-well, textarea {
   background-color: #fbf8cc !important;
}
.form-actions {
   background-color:transparent;
   border-top:none;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
   background-image:url("/static/images/arches.jpg");
   background-repeat:repeat;
}

#id_honeypot{
    display:none;
}

/*label{display:inline-block;}*/

tr > td {text-align:right;padding-right:8px;vertical-align: top}
td + td{text-align:left;}
td label {font-size:0.95em;font-weight:bold;}
.form{border:1px #e5e5e5 solid; padding:35px;margin-bottom:15px;}
.distroform{border:1px #e5e5e5 solid; padding:35px;margin-bottom:15px;}
.distroform > table > tbody > tr > td > input {width:100%;padding-right:0px;}
.distroform > table > tbody > tr > td > select {width:100%;padding-right:0px;}
.previewpane {border:#e5e5e5 1px solid; min-height:520px; width:420px; padding:20px;float:left;}

/* ==========================================================================
   Index Pages
   ========================================================================== */
   
.index-table{border:1px #e5e5e5 solid; min-height: 340px; padding:20px;background-color:#fbf8cc;margin-bottom: 200px;}
.index-table > .row-fluid + .row-fluid{padding-top:30px;}
.index-header{margin-bottom:20px;}
.index-title{text-align:center;}

/* ==========================================================================
   Glean Page
   ========================================================================== */
   
.glean-title{text-align: center;color:#444;}
.glean-title:hover{color:#000;text-decoration: none;}
.glean-half>ul {list-style:none;margin:0 0 0 0;}
.glean-quarter{width:48%;margin:0 1%; float:left;}
.divider{width:100%; clear:both; border-bottom:dotted #444 1px;margin:10px 0;}

.glean-date{text-align: center;margin-top:0px;}
#id_comment{height:20px;width:50%;margin-left:2%;}
.admin-controls{text-align:center;}


/* ==========================================================================
   Glean Form
   ========================================================================== */

.glean-form-container {
   width: 897px;
   clear: both;
   height: 683px;
}
.glean-form-left {
    width: 489px;
}
#id_time_of_day {
   width: 87px;
}
#id_time {
   width: 120px;
}
#id_state {
   width:137px;
}
.glean-form-left > .row > #div_id_zipcode > div > #id_zipcode {
   width: 70px;
}
#div_id_zipcode{
   margin-left:0;
}
#div_id_time_of_day{
   margin-left:0;
}
.glean-form-checkboxes {
   background-color: #fbf8cc;
   width:444px;
   -moz-box-shadow: inset 1px 1px 1px #000000;
   -webkit-box-shadow: inset 1px 1px 1px #000000;
   box-shadow: inset 1px 1px 1px #000000;
   padding: 10px;
}
.glean-form-checkboxes > .control-group > .controls > label.checkbox.inline {
   min-width: 111px;
}
.glean-form-right {
   width: 408px;
}
.glean-form-right > .control-group > .controls > textarea {
   width: 395px;
   height: 175px;
}
label.checkbox.inline{
   font-size: 16px;
}
input[type="checkbox"]{
   -webkit-appearance: none;
   background-color: #fbf8cc;
   border: 1px solid #cacece;
   box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
   padding: 9px;
   border-radius: 3px;
   display: inline-block;
   position: relative;
}
input[type="checkbox"]:checked{
   background-color: #e9ecee;
   border: 1px solid #adb8c0;
   box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
   color: #99a1a7;
}
input[type="checkbox"]:checked:after {
   content: '\2714';
   font-size: 14px;
   position: absolute;
   top: 0px;
   left: 3px;
   color: #99a1a7;
}

/* ==========================================================================
   Post Glean Form
   ========================================================================== */
   
.post-glean-form{border:1px #e5e5e5 solid; padding:35px;margin-bottom:15px;}
.post-glean-form > table > tbody > tr > td > input {width:100%;padding-right:0px;}
.post-glean-form > table > tbody > tr > td > select {width:100%;padding-right:0px;}

/* ==========================================================================
   Farm Page
   ========================================================================== */
   
.location {
   border: 1px solid #e5e5e5;
   border-radius:5px;
   padding:8px;
}
/* ==========================================================================
   Partners
   ========================================================================== */


#intervale-logo{
   width: 106px;
   height: 106px;
   background-image: url("/static/images/intervale_grayscale.png");
}
#intervale-logo:hover{
   background-image: url("/static/images/intervale.png");
}
#RAFFL-logo{
   width: 106px;
   height: 106px;
   background-image: url("/static/images/RAFFL_grayscale.png");
}
#RAFFL-logo:hover{
   background-image: url("/static/images/RAFFL.png");
}
#hope-logo{
   width: 141px;
   height: 104px;
   background-image: url("/static/images/hope_grayscale.png");
}
#hope-logo:hover{
   background-image: url("/static/images/hope.png");
}
#community-harvest-logo{
   width: 155px;
   height: 104px;
   background-image: url("/static/images/community_harvest_grayscale.png");
}
#community-harvest-logo:hover{
   background-image: url("/static/images/community_harvest.png");
}
/* ==========================================================================
   Registration Page
   ========================================================================== */

#div_id_opt_in {
   position: relative;
   top: -17px;
}

/* ==========================================================================
   Combined Announcement Page
   ========================================================================== */

#preview-box {
   float: left;
   margin-top: 5px;
   width: 700px;
}

#custom-announce-box {
   float: left;
   margin: 24px 0 0 23px;
   width: 296px;
   height: 665px;
}

#id_template {
   width: 100%;
}
#custom-announce-box>form>input#id_title {
   width: 283px;
}
#custom-announce-box>form>textarea#id_message {
   width: 283px;
}
#recipient-box {
   height: 206px;
   overflow-y: scroll;
}

/* ==========================================================================
   UserProfile
   ========================================================================== */

.yes-text {
   color: #6e9614;
   font-size: 15px;
   font-weight: bold;
}
.no-text {
   color: #d25231;
   font-size: 15px;
   font-weight: bold;
}

#id-custom-registration-form {
   width: 800px;
}

#id-custom-admin-registration-form{
   width: 800px;
}

#id-custom-admin-edit-form {
   width: 800px;
}
/* ============================================================================
   Special Form editing
   ============================================================================ */

.form-errors {
/*div tags*/
	margin: 1em;
	background: orange;
	border-radius: 5px;
}

.form-errors > ul > li > ul {
	display: inline;
}

.form-errors > ul > li > ul > li {
	display: inline;
}

.form-errors > ul > li > ul > li:before {
	

}
.form-errors > ul > li:before {
	content: "Error: ";
}

.form-wrapper-memorg {
   margin-left: 5em;

}
.id_long_desc {
    width: 300px !important;
    height: 200px !important;
}

.yellow-bottom {
    border-bottom: 10px solid #ffc64a;
}

.form-comment-box {
   float:right; 
   width: 300px; 
   position: relative; 
   top: 80px; 
   background: orange; 
   padding: 10px; 
   border-radius: 5px;
}

.crispy_column {
    width: 480px;
}
.crispy_column_left {
    float: left;
    width: 550px;
}
.crispy_column_right {
    float: right;
    width: 480px;
}
.crispy_form_tag {
    width: 1200px;
    margin: 20px;
}

.yellow-left {
   border-left: 10px solid #ffc64a;
   padding: 10px;
}

.red-emphasized {
   color: red;
   text-decoration: underline;
   font-style: italic;
}

.formset-row {
   display: inline-block;
}

.formset-row select {
   font-size: 10px;
   line-height: 10px;
   width: 100px;
}

.formset-row input {
   font-size: 10px;
   line-height: 10px;
   width: 100px;
}

.formset-label div {
   font-size: 10px;
   line-height: 10px;
   width: 106px;
   font-weight: bold;
   display: inline-block;
   text-align: center;
}

.control-group .checkboxinput {
   width: 20px;
   vertical-align: middle;
   top: -7px;
}

.control-group .checkbox {
   vertical-align: middle;
}

.farm-form-icons {
   position: relative;
   right: 75px;
}

.h4-label {
   margin: 0px;
   padding: 0px;
   line-height: 15px;
}

.delete-format {
   height: 5px;
   margin: 0px;
   margin-bottom: 10px;
}
