{% extends 'base.html' %}
{% load url from future %}
{% load crispy_forms_tags %}
{% block title %}Distribution Entry Forms
{% endblock title %}
{% block heading %}
<div style="width: 1075px; height: 50px;">
	<h1 style="float: left; display: inline;">View and Edit your Distribution Data by Date</h1>
</div>
{% endblock heading %}
{% block body %}
	<div class="glean-index-red red" style="width: 1030px; padding: 10px;">
		<h3>Who's Reaping the Benefits</h3>
		<p>Enter the dates you'd like to examine below, and then edit the data below.</br>
			<em><small>Hint: You can press enter on any field to save all your work up to that point instead of scrolling all the way to the bottom!</small></em></br>
			<em><small>Hint: To delete items, check the last column, marked "Delete", then save!</small></em></p>
		<div style="width: 300px;">
			<form method="get" style="">
				<table>
					<tr>
						<td>
							<label for="date_from">From</label>
						</td>
						<td>
							<input id="date_from" maxlength=200 name="date_from" type="text" value="{{date_from}}" class="datepicker"></input>
						</td>
					</tr>
					<tr>
						<td>
							<label for="date_until">Until</label>
						</td>
						<td>
							<input id="date_until" maxlength=200 name="date_until"  type="text" value="{{date_until}}" class="datepicker"></input>
						</td>
					</tr>
					<tr><td>&nbsp;</td>
						<td>
							<input type="submit" class = "glean-button green-button" value="Render Dates">
						</td>
					</tr>
				</table>
			</form>

		</div>
	</div>
<div class="formset-label" style="margin-top: 15px;">
	<div>Date of<br> Distribution</div><div>Distribution<br> Method</div><div>Recipient Site</div><div>Collection<br> Method</div><div>Harvest Date</div><div>Farm</div><div>Crop/Item</div><div>Pounds</div><div>Count</div><div>Containers</div><div>Delete</div>
	</div>
<div>
	{% crispy formset %}
</div>
<input type='submit' class='glean-button green-button' form="form-id-0" name='submit' value='Save Changes'>
<script src="/static/js/distro.js"></script>
<script>
	var source = [
		'Apples',
		'Arugula',
		'Beans',
		'Beet Greens/Chard',
		'Beets',
		'Blueberries',
		'Bread',
		'Broccoli',
		'Brussel Sprouts',
		'Cabbage',
		'Carrots',
		'Cauliflower',
		'Celeriac',
		'Celery',
		'Chard',
		'Chinese Cabbage',
		'Collards',
		'Cooking Greens',
		'Corn',
		'CSA Share',
		'Cucumbers',
		'Eggs',
		'Eggplant',
		'Fennel',
		'Flowers',
		'Garlic/Garlic Scapes',
		'Head Lettuce',
		'Herbs',
		'Kale',
		'Kohlrabi',
		'Leeks',
		'Lettuce Mix',
		'Melons',
		'Mesclun',
		'Mixed Roots',
		'Mixed Veggies',
		'Mushrooms',
		'Onions',
		'Pac Choy',
		'Parsnips',
		'Peas',
		'Peppers',
		'Plants/Starts',
		'Potatoes',
		'Pumpkins',
		'Radishes',
		'Raspberries',
		'Rutabaga',
		'Scallions',
		'Seeds',
		'Spinach',
		'Summer Sq./Zucchini',
		'Tomatillos',
		'Tomatoes',
		'Turnips',
		'Watermelon',
		'Winter Squash',
		];
		{% for i in '0123456789'|make_list %}
		    $(function() {
				$('#id_form-{{i}}-crops').typeahead({'source':source});
		    });
		{% endfor %}
</script>

{% endblock body %}

