{% extends 'base.html' %}
{% load url from future %}
{% block title %}Distribution Entry Forms
{% endblock title %}
{% block content %}
<form method="get">
	<table>
		<tr>
			<td>
				<label for="date_from">From</label>
			</td>
			<td>
				<input id="date_from" maxlength=200 name="date_from" type="text" value="{{date_from}}" class="datepicker"></input>
			</td>
		</tr>
		<tr>
			<td>
				<label for="date_until">Until</label>
			</td>
			<td>
				<input id="date_until" maxlength=200 name="date_until"  type="text" value="{{date_until}}" class="datepicker"></input>
			</td>
		</tr>
		<tr><td>&nbsp;</td>
			<td>
				<input type="submit" value="Render Dates">
			</td>
		</tr>
	</table>
</form>


	<script type="text/javascript">
	      $(function() {
				$('.datetimechoser').datetimepicker({
	  				language: 'en',
	  				pick12HourFormat: true
				});
	      });
	</script>
{% if form.errors %}{{form.errors}}{% endif %}
{% if form %}
	<form method="post" action="">
			{% csrf_token %}
			<table>
		{{form.as_table}}
			</table>
	<input type="submit" value="Go!">
	</form>
 {% else %}
 No Data to Show!
 {% endif %}

{% endblock content %}

