{% extends 'base.html' %}
{% load url from future %}
{% block title %}Distribution Entry Forms
{% endblock title %}
{% block body %}
<div class="row-fluid">
	<div class="span6">
		<form method="get">
			<label target="extra">Lines Needed</label>
			<input type="text" name="extra" value="{{lines|default:'0'}}">
			<input type="submit" value="Render New Form">
		</form>
	</div>
	<div class="span6">
		<p>Enter your post-glean distribution information here. Don't worry about extra lines, the system rightfully ignores them :D</p>
		<p>If you need to register more distribution sites, use the Distributon Site area of this website, you can access it on the navbar above!</p>

	</div>
</div>
<form method="post" action="">
		{% csrf_token %}
		{% include 'distribution/distroform.html' %}
<input type="submit" value="Go!">
	</form>
{% endblock body %}