{% extends 'base.html' %}
{% load url from future %}
{% load crispy_forms_tags %}
{% block title %}
Entry
{% endblock title %}

{% block heading %}
<div style="width: 1075px; height: 50px;">
	<h1 style="float: left; display: inline;">Harvest and Distribution Data Entry</h1>
	<form>
	<button style="float: right;" type="submit" formmethod="get" formaction="{% url 'site:newsite' %}" class="glean-button green-button">New Recipient Site</button>
	</form>
</div>
{% endblock heading %}


{% block body %}
<div class="glean-index-red red" style="width: 1030px;">
	    <h3>Who's Reaping the Benefits</h3>
	    <p>Enter your post-glean distribution information here.  Don't worry about extra lines.  The system ignores them :D</p>
	    <p>If you need to register more distribution sites, use the Distribution Site area of this website, you can access it on the navbar above!</p>
	    <em>Note: Please enter dates in YYYY-MM-DD format</em>
</div>
<div class="formset-label" style="margin-top: 15px;">
	<div>Date of<br> Distribution</div><div>Distribution<br> Method</div><div>Recipient Site</div><div>Collection<br> Method</div><div>Harvest Date</div><div>Farm</div><div>Crop/Item</div><div>Pounds</div><div>Count</div><div>Containers</div>
	</div>
<div>
	{% crispy formset %}
</div>
<input type='submit' class='glean-button green-button' form="form-id-0" name='submit' value='Save Changes'>
<div class="glean-index-yellow yellow" style="width: 1050px; padding: 10px;">
	<div class="glean-index-yellow-child" style="width: 1010px; padding: 20px;">
		<h3>All Your Efforts, Easy to See</h3>
		<p>This tool allows you to view and/or download a spreadsheet detailing all harvest and distribution data logged by your organization.  Press the 'View/Edit' to view a spreadsheet or press 'Download' to save a document that can be opened with Excel.  Leave the fields blank to just view your data.</p>
	</div>
</div>
<div style="width:1075px;">
    <form style="float: right;" id="view-edit-tool">
    	<label target="date_from" style="display: inline;">From:</label><input id="date_from" type="text" class="datepicker" name="date_from"></input> 
    	<label target="date_until" style="display: inline;">Until:</label><input type="text" id="date_until" class="datepicker" name="date_until"></input>
    	<button type="submit" formmethod="get" formaction="{% url 'distro:edit' %}" class="glean-button green-button">View/Edit Data</button>
		<button type="submit" formmethod="get" formaction="{% url 'distro:download' %}" class="glean-button red-button">Download</button>
    </form>
</div>
<script src="/static/js/distro.js"></script>
<script>
	var source = [
		'Apples',
		'Arugula',
		'Beans',
		'Beet Greens/Chard',
		'Beets',
		'Blueberries',
		'Bread',
		'Broccoli',
		'Brussel Sprouts',
		'Cabbage',
		'Carrots',
		'Cauliflower',
		'Celeriac',
		'Celery',
		'Chard',
		'Chinese Cabbage',
		'Collards',
		'Cooking Greens',
		'Corn',
		'CSA Share',
		'Cucumbers',
		'Eggs',
		'Eggplant',
		'Fennel',
		'Flowers',
		'Garlic/Garlic Scapes',
		'Head Lettuce',
		'Herbs',
		'Kale',
		'Kohlrabi',
		'Leeks',
		'Lettuce Mix',
		'Melons',
		'Mesclun',
		'Mixed Roots',
		'Mixed Veggies',
		'Mushrooms',
		'Onions',
		'Pac Choy',
		'Parsnips',
		'Peas',
		'Peppers',
		'Plants/Starts',
		'Potatoes',
		'Pumpkins',
		'Radishes',
		'Raspberries',
		'Rutabaga',
		'Scallions',
		'Seeds',
		'Spinach',
		'Summer Sq./Zucchini',
		'Tomatillos',
		'Tomatoes',
		'Turnips',
		'Watermelon',
		'Winter Squash',
		];
		{% for i in '0123456789'|make_list %}
		    $(function() {
				$('#id_form-{{i}}-crops').typeahead({'source':source});
		    });
		{% endfor %}
</script>
{% endblock body %}