{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Volunteers
{% endblock title %}

{% block heading %}
{% endblock %}

{% block body %}
<div id="glean-index-header" style="width: 1070px; margin-left:auto; margin-right:auto;">
    <h1 class="pull-left">Volunteers</h1>
    <div id="glean-buttons">
        <a href="{% url 'userprofile:newuser' %}">
            <button class="glean-button green-button no-margin">
                New Volunteer
            </button>
        </a>
        <a href="{% url 'userprofile:userlists' %}">
            <button class="glean-button yellow-button no-margin">
                Volunteer List
            </button>
        </a>
    </div>
</div>

<div class="glean-index-red red" style="width: 1030px; margin-left: auto; margin-right: auto;">
    <h3>Who's Helping Out?</h3>
    <p>Enter your volunteers' here. Save when all hours are entered before navigating away from page. If you fill all lines, save and more will appear. Don't worry about extra lines, the system rightfully ignores them :D</p>
    <p>If you need to register more volunteers, you can acces it on the navbar above!</br>
    <small><i>Note: Please enter dates in YYYY-MM-DD format.</i></small></p>
</div>
<div class="span12">
    <h4 class="text-success text-center">{{message}}</h4>
</div>
<div>
    <h4 class="text-error text-center">{{error}}</h4>
</div>
<div class="label-row">
    <div>First Name</div><div>Last Name</div><div>Date</div><div>Total Time</div><div>Group Name</br><small>(if applicable)</small></div><div># of Members</br><small>(if applicable)</small></div><div>Task</div><div>Miles</div><div>Notes</div>
</div>
        {% crispy formset helper %}
<input type='submit' class='glean-button green-button' form="form-id-0" name='submit' value='Save Changes'>
<div id="glean-index" class="glean-index-yellow yellow" style="width: 1050px; padding: 0px 20px;">
    <div class="glean-index-yellow-child" style="width: 1010px; padding: 0px;">
        <h3 style="padding-top: 0px; margin-top: 0px;">All their work, easy to see</h3>
        <p>This tool allows you to view and/or download a spreadsheet detailing all volunteer hours logged by your organization.</p>
        <p>Select a range of dates (or leave blank to select all dates) and press the "View/Edit" to view and edit the Volunteer Hours for that range.</p>
    </div>
</div>
<form id="glean-index-form" method="get" class="form-inline">
    <label for="date_from">From</label>
    <input id="date_from" maxlength=200 name="date_from" type="text" value="{{date_from}}" class="datepicker"></input>
    <label for="date_until">Until</label>
    <input id="date_until" maxlength=200 name="date_until"  type="text" value="{{date_until}}" class="datepicker"></input>
    <input type="submit" name="filter" class="glean-button green-button no-margin" value="View Edit">
    <!--input type="submit" name="download" class="glean-button yellow-button no-margin" value="Download"-->
</form>
{% endblock body %}

{% block style %}
<style>
.controls > input {
    width: 85%;
}
.controls > select {
    width: 99%;
}
.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th {
    background-color: #ffc64a !important;
}
.body-container {
    width: 1030px;
    margin-left: auto;
    margin-right: auto;
}
form {
    margin-left: auto;
    margin-right: auto;
}
.row > .control-group {
    width: 100px;
    margin: 0px;
    padding: 0px;
    margin-left: 0px !important;
}
.row {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
.label-row {
    width: 900px;
    margin-left: auto;
    margin-right: auto;

}
.label-row > div {
    float: left;
    display: inline-block;
    margin: 0px;
    width: 100px;
    text-align: center;
    height: 40px;
    font-weight: bold;
}
#glean-index p {
    font-size: 18px;
    margin: 0 0 10px;
}
#glean-index {
    height: 140px !important;
    min-height: 140px !important;
}
.glean-index-yellow-child {
    height: 140px !important;
}
</style>
{% endblock style %}