{% extends 'base.html' %}
{% load url from future %}
{% block title %}Harvest and Distribution Database
{% endblock title %}

{% block heading %}
{% endblock %}

{% block body %}
<div class="row-fluid index-header">
	<div class="span6 index-title">
		<h1>Harvest and Distribution Database</h1>
		<p><a href="{% url 'distro:entry' %}" class="btn btn-success">Data Entry</a>
		<a href="{% url 'distro:edit' %}" class="btn btn-info">Edit Data</a>
		<a href="{% url 'distro:download' %}" class="btn btn-danger">Download</a></p>
	</div>
	<div class="span6">
		<p>Here is the compiled Harvest and Distribution Database. This system aggregates all gleaning information coordinated by the Gleaners Interface, compiling immeasurable human effort to document the gleaning done throughout the Northeast.</p>
		<p>Below you can see some recent distribtion instances, and to the right are the controls for adding and editing data.</p>
	</div>
</div>
<div class="index-table">
<div class="row-fluid">
	<div class="span10 offset1">
		<form method="get" class="well">
			<table>
				<tr>
					<td>
						<label for="date_from">From</label>
					</td>
					<td>
						<input id="date_from" maxlength=200 name="date_from" type="text" value="{{date_from}}" class="datepicker"></input>
					</td>
					<td>
						<label for="date_until">Until</label>
					</td>
					<td>
						<input id="date_until" maxlength=200 name="date_until"  type="text" value="{{date_until}}" class="datepicker"></input>
					</td>
					<td width="100%" class="text-center">
						<input type="submit" class="btn btn-primary" value="Filter Dates">
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
	<div class="row-fluid">
		<div class="span6">
			<ul>
			{% for entry in data %}
			<li>{{entry.date_d}} - {{ entry.recipient }} - {{entry.crop}}
			</li>
			{% cycle '' '' '' '' '' '' '' '' '' '' '' '' '' '' '</ul></div><div class="span6"><ul>' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '</ul></div></div><div class="row-fluid"><div class="span6"><ul>' %}
			{% empty %}
			<li>No H&D Data entered yet.</li>
			{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock body %}
