<table>

<tbody><tr>
<td><label for="id_first_name"><label for="id_first_name">First Name<span class="text-error">*</span></label></label></td>
   <td>{{form.first_name}}</td>
 </tr>

<tr>
<td><label for="id_last_name"><label for="id_last_name">Last Name<span class="text-error">*</span></label></label></td>
   <td>{{form.last_name}}</td>
 </tr>

<tr>
<td><label for="id_relation"><label for="id_relation">Relationship to Farm</label></label></td>
   <td>{{form.relation}}</td>
 </tr>

<tr>
<td><label for="id_email"><label for="id_email">Email</label></label></td>
   <td>{{form.email}}</td>
 </tr>

<tr>
<td><label for="id_phone"><label for="id_phone">Primary Phone</label></label></td>
   <td>{{form.phone}}</td>
 </tr>

<tr>
<td><label for="id_phone_type"><label for="id_phone_type">Phone Type</label></label></td>
   <td>{{form.phone_type}}</td>
 </tr>

<tr>
<td><label for="id_glean_contact"><label for="id_glean_contact">Should this person be contacted about gleans?</label></label></td>
   <td>{{form.glean_contact}}</td>
 </tr>

<tr>
<td><label for="id_preferred"><label for="id_preferred">How Does this person Prefer to be Contacted?</label></label></td>
   <td>{{form.preferred}}</td>
 </tr>

</tbody></table>