{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load url from future %}
{% block title %}
Edit {{Location.name}}
{% endblock title %}

{% block body %}
<div id="glean-index-header" style="width:1068px">
    <h1 class="pull-left">Edit This Location</h1>
    <div id="glean-buttons">
        <a href="{% url "farms:deletelocation" object.farm.id object.id %}">
            <button class="glean-button red-button">
                Delete
            </button>
        </a>
    </div>
</div>


</div>
<div class="glean-index-red red" style="width: 1030px; clear:both;">
	<div class="glean-index-red-child">
	    <h4>More Locations, More Food!!</h4>
	</div>
</div>
<div class="form-errors">
	{{form.errors}}
</div>
<div class="crispy_form_tag">
	{% crispy form %}
</div>
<style>
#footer-overall {
    top: 1100px;
}
</style>
{% endblock body %}