{% extends 'base.html' %}
{% load url from future %}
{% block title %}
Edit This Contact for {{farm.name}}
{% endblock title %}

{% block heading %}
<h3>Edit Contact</h3>
{% endblock heading %}


{% block content %}
	<form method="post" action="">
		{% csrf_token %}
		{% include 'farms/farmform.html' %}

		<div class="form-actions">
			<span class="pull-left"><span class="text-error">*</span>Denotes a required Field</span><input type="submit" class="btn btn-success pull-right" value="Save">
		</div>
	</form>
{% endblock content %}