{% extends 'base.html' %}
{% load url from future %}
{% block title %}
Edit {{Farm.name}}
{% endblock title %}

{% block heading %}
<h3>Edit This Farm</h3>
{% endblock heading %}


{% block body %}
	<form method="post" action="">
		{% csrf_token %}
		{% include 'farms/customform.html' %}
		<div class="form-actions">
			<div class="pull-right">
				<input type="submit" class="btn btn-success" name="action" value="Save And View" />
			</div>
			<span class="pull-left"><span class="text-error">*</span><span>Denotes a Required Field</span></span>
		</div>
	</form>
{% endblock body %}