{% extends 'base.html' %}
{% load url from future %}
{% block title %}
Edit This Contact for {{farm.name}}
{% endblock title %}

{% block content %}
<div id="glean-index-header" style="width:1068px">
    <h1 class="pull-left">Edit This Location</h1>
    <div id="glean-buttons">
        <a href="{% url "farms:deletecontact" object.farm.id object.id %}">
            <button class="glean-button red-button">
                Delete
            </button>
        </a>
    </div>
</div>

	<form method="post" action="">
		{% csrf_token %}
		{% include 'farms/farmform.html' %}

		<div class="form-actions">
			<span class="pull-left"><span class="text-error">*</span>Denotes a required Field</span><input type="submit" class="btn btn-success pull-right" value="Save">
		</div>
	</form>
<style>
#footer-overall {
    top: 500px;
}
</style>
{% endblock content %}