{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load url from future %}
{% block title %}
Edit {{Location.name}}
{% endblock title %}

{% block heading %}
<h3>Edit This Location</h3>
{% endblock heading %}


{% block body %}
<div class="glean-index-red red" style="width: 1030px;">
	<div class="glean-index-red-child">
	    <h4>More Locations, More Food!!</h4>
	</div>
</div>
<div class="form-errors">
	{{form.errors}}
</div>
<div class="crispy_form_tag">
	{% crispy form %}
</div>
<style>
#footer-overall {
    top: 1100px;
}
</style>
{% endblock body %}