{% extends 'base.html' %}
{% load url from future %}
{% block title %}
New Farm!
{% endblock title %}

{% block heading %}
<h3>New Farm</h3>
{% endblock heading %}


{% block content %}
	<form method="post" action="">
		{% csrf_token %}
		{% include 'farms/farmform.html' %}
		<input type="submit" value="Go!">
	</form>
{% endblock content %}
{% block related %}
<p>Creating this profile for a new farm adds it to the Farm Index. Farms must have a profile in the Interface for you to enter harvest and distribution data, so <b>make sure you fill out this form for any farm you glean with.</b></p>

<p>Much of the information you enter here automatically populates any New Glean forms made for this farm, helping streamline that process.</p>

The farm <b>Description</b> is an optional field for notes. It does not appear on the glean event page, only in the Farm Index. </p>

<p><b>Directions</b> are optional—a Google map of the physical farm address does appear on each glean event page—but can be useful especially if your farm is tricky to find. Consider typing in directions from a few locations. This info will appear on any glean event pages you make for this farm. There, you can edit the directions on a glean-by-glean basis if you want.</p>

<p>The physical address provides a default location where volunteers can convene. If there are any special <b>Instructions</b> (ie, park next the blue barn) you can type them here. Instructions will appear on all glean event pages you create for this farm, and, as with directions, you can edit them for each glean event. If you want to add <b>more than one location</b> (if the farm has multiple fields, or if volunteers should convene at a different place than the farm’s physical location) you can do this after you create the farm profile. Navigate to this farm’s profile once you submit this form, and there you’ll see a button to add a new location.</p>

<p>If your farm is located near a county border, consider selecting more than one county. Note that this selection—which you can also adjust on each glean event page—determines which volunteers receive the announcement emails. </p>

<p>If you want to save to your computer a complete list of farms in you’ve entered in, do this anytime by clicking “Download Farm List” under the Farms tab. After you submit this form, return anytime to this farm’s profile to edit all information.</p>

<p>The information you enter here helps streamline the process of announcing gleans by automatically populating the county (or counties), address, directions, and instructions for any given farm you type into the New Glean form. Return to the farm profile to edit this information, or edit directly on the glean event page on a glean-by-glean basis.</p>
{% endblock %}