{% extends 'base.html' %}
{% load url from future %}
{% block title %}
New Contact for {{farm.name}}
{% endblock title %}


{% block heading %}
<h3>New Contact</h3>
{% endblock heading %}


{% block content %}
	<form method="post" action="">
		{% csrf_token %}
		{% include 'farms/custom_contact.html' %}
		<div class="form-actions">
			<span class="pull-left"><span class="text-error">*</span>Denotes a required field</span>
			<div class="pull-right">
			<input type="submit" name="action" class="btn btn-success" value="Save">
			<input type="submit" name="action" class="btn btn-danger" value="Save and Create Another">
			</div>
		</div>
	</form>
	<style>
#footer-overall {
    top: 300px;
}
</style>
{% endblock content %}
{% block related %}
<p>Add more contact people for a farm here. You can simply keep their contact information in the Interface for your future reference or opt to send them information about gleans.</p>
{% endblock related %}