{% extends 'base.html' %}
{% load url from future %}
{% block title %}
New Location for {{farm.name}}!
{% endblock title %}


{% block heading %}
<h3>New Location for {{farm.name}}</h3>
{% endblock heading %}


{% block body %}
	<form method="post" action="">
		{{error}}
		{% csrf_token %}
		{% include 'farms/customlocation.html' %}
		<div class="form-actions">
			<span class="pull-left"><span class="text-error">*</span>Denotes A Required Field</span>
			<div class="pull-right">
				<input type="submit" class="btn btn-success" name='action' value="Save">
				<input type="submit" class="btn btn-danger" name='action' value="Save and Create Another">
			</div>
		</div>
	</form>
{% endblock body %}