{% extends 'base.html' %}
{% load url from future %}
{% block title %}
New Location for {{farm.name}}!
{% endblock title %}


{% block heading %}
<h3>New Location</h3>
{% endblock heading %}


{% block content %}
	<form method="post" action="">
		{% csrf_token %}
		{% include 'farms/farmform.html' %}
		<input type="submit" value="Go!">
	</form>
{% endblock content %}
{% block related %}
<p>If you want to add more than one location (if the farm has multiple fields, or if volunteers should convene at a different place than the farm’s physical location) you can do this here. Later, when you create a glean event for this farm, you can select a specific farm location from a drop-down menu.</p>
{% endblock related %}