{% extends 'base.html' %}
{% load url from future %}
{% block title %}
New Contact for {{farm.name}}
{% endblock title %}


{% block heading %}
<h3>New Contact</h3>
{% endblock heading %}


{% block content %}
	<form method="post" action="">
		{% csrf_token %}
		{% include 'farms/farmform.html' %}
		<input type="submit" value="Go!">
	</form>
{% endblock content %}
{% block related %}
<p>Add more contact people for a farm here. You can simply keep their contact information in the Interface for your future reference or opt to send them information about gleans.</p>
{% endblock related %}