<div class="form">
	<div class="table-form">
<table>
<tbody><tr>
<td><label for="id_username"><label for="id_username">Username<span class="text-error">*</span></label></label></td>
   <td>{{form.username}}</td>
 </tr>

<tr>
<td><label for="id_email"><label for="id_email">E-mail<span class="text-error">*</span></label></label></td>
   <td>{{form.email}}</td>
 </tr>

<tr>
<td><label for="id_password1"><label for="id_password1">Password<span class="text-error">*</span></label></label></td>
   <td>{{form.password1}}</td>
 </tr>

<tr>
<td><label for="id_password2"><label for="id_password2">Password (confirm)<span class="text-error">*</span></label></label></td>
   <td>{{form.password2}}</td>
 </tr>

<tr>
<td><label for="id_first_name"><label for="id_first_name">First Name<span class="text-error">*</span></label></label></td>
   <td>{{form.first_name}}</td>
 </tr>

<tr>
<td><label for="id_last_name"><label for="id_last_name">Last Name<span class="text-error">*</span></label></label></td>
   <td>{{form.last_name}}</td>
 </tr>

<tr>
<td><label for="id_address_one"><label for="id_address_one">Address</label></label></td>
   <td>{{form.address_one}}</td>
 </tr>

<tr>
<td><label for="id_address_two"><label for="id_address_two">Address (line two)</label></label></td>
   <td>{{form.address_two}}</td>
 </tr>

<tr>
<td><label for="id_city"><label for="id_city">City</label></label></td>
   <td>{{form.city}}</td>
 </tr>

<tr>
<td><label for="id_state"><label for="id_state">State</label></label></td>
   <td>{{form.state}}</td>
 </tr>

<tr>
<td><label for="id_zipcode"><label for="id_zipcode">Zipcode</label></label></td>
   <td>{{form.zipcode}}</td>
 </tr>

<tr>
<td><label for="id_counties"><label for="id_counties">Counties</label></label></td>
   <td>{{form.counties}}</td>
 </tr>

<tr>
<td><label for="id_age"><label for="id_age">Age</label></label></td>
   <td>{{form.age}}</td>
 </tr>

<tr>
<td><label for="id_phone"><label for="id_phone">Primary Phone</label></label></td>
   <td>{{form.phone}}</td>
 </tr>

<tr>
<td><label for="id_phone_type"><label for="id_phone_type">Phone Type</label></label></td>
   <td>{{form.phone_type}}</td>
 </tr>

<tr>
<td><label for="id_preferred_method"><label for="id_preferred_method">Primary Contact Method</label></label></td>
   <td>{{form.preferred_method}}</td>
 </tr>

<tr>
<td><label for="id_ecfirst_name"><label for="id_ecfirst_name">Emergency Contact First Name</label></label></td>
   <td>{{form.ecfirst_name}}</td>
 </tr>

<tr>
<td><label for="id_eclast_name"><label for="id_eclast_name">Emergency Contact Last Name</label></label></td>
   <td>{{form.eclast_name}}</td>
 </tr>

<tr>
<td><label for="id_ecphone"><label for="id_ecphone">Emergency Contact Phone</label></label></td>
   <td>{{form.ecphone}}</td>
 </tr>

<tr>
<td><label for="id_ecrelationship"><label for="id_ecrelationship">Relationship</label></label></td>
   <td>{{form.ecrelationship}}</td>
 </tr>

<tr>
<td><label for="id_waiver"><label for="id_waiver">Signed Waiver of Liability?<span class="text-error">*</span></label></label></td>
   <td>{{form.waiver}}</td>
 </tr>

<tr>
<td><label for="id_agreement"><label for="id_agreement">Signed Volunteer Agreement?<span class="text-error">*</span></label></label></td>
   <td>{{form.agreement}}</td>
 </tr>

<tr>
<td><label for="id_photo_release"><label for="id_photo_release">Signed Photo Release?</label></label></td>
   <td>{{form.photo_release}}</td>
 </tr>

<tr>
<td><label for="id_opt_in"><label for="id_opt_in">Signed Email Opt-In?</label></label></td>
   <td>{{form.opt_in}}</td>
 </tr>

</tbody></table>
</div>
</div>