{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
{{object.first_name}} {{object.last_name}}
{% endblock title %}
{% block body %}
<div class="body-container">
    <div id="farm-header">
        <div class="pull-left">
            <h1>{{object.first_name}} {{object.last_name}} - {{object.user.username}}</h1>
        </div>
        <div class="pull-right farm-buttons">
            {% if 'userprofile.promote' in perms %}
            <a href="{% url "userprofile:userpromote" object.user.id %}">
                <button class="glean-button green-button no-margin">
                    Promote
                </button>
            </a>
            {% endif %}
            <a href="{% url "userprofile:useredit" object.user.id %}">
                <button class="glean-button yellow-button no-margin">
                    Edit
                </button>
            </a>
        </div>
    </div>

    <div class="yellow-box red-top">
        <div class="farm-third">
            <h3>Address</h3>
            <ul class="no-list">
            <li>{{object.address_one}}</li>
            {% if object.address_two %}
                <li>{{object.address_two}}</li>
            {% endif %}
            <li>{{object.city}}</li>
            <li>{{object.state}} {{object.zipcode}}</li>
            </ul>
        </div>

        <div class="farm-third">
            <h3>Contact</h3>
            <ul class="no-list">
            <li>{{object.phone}}</li>
            <li>{{object.user.email}}</li>
            <li>Preferred Method: {% if object.preferred_method == 1%}Phone{% else %}Email{% endif %}</li>
        </div>

        <div class="farm-third">
        
        <h3>Forms</h3>
        <ul class="no-list">
            <li>Waiver: {% if object.waiver %}Yes{% else %}No{% endif %}</li>
            <li>Volunteer Agreement: {% if object.agreement %}Yes{% else %}No{% endif %}</li>
            <li>Photo Release: {% if object.photo_release %}Yes{% else %}No{% endif %}</li>
            <li>Ok To Send Newsletters: {% if object.opt_in %}Yes{% else %}No{% endif %}</li>
        </ul>
        </div>

    </div>

    </div>
    <div class="yellow-box green-top">
        <form method="post" id="hours-form">
            {% csrf_token %}
            {{form}}
            <input type="submit" class="glean-button red-button">
        </form>
    </div>
    <div class="yellow-box blue-top">
        <h2>Hours to Date</h2>
        <ul>
        {% for hour in object.user.hours.all|slice:":5" %}
            <li>{{hour.hours}} - {{hour.notes}}</li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock body %}


{% block heading %}
{% endblock heading %}
{% block content %}
<h4>{{object.user.username}} - {{object.user.email}}</h4>
<p>{{object.address_one}}, {{object.address_two}}</p>
<p>{{object.city}}, {{object.state}} {{object.zipcode}}</p>
<h5>Total Hours Gleaning:</h5>
<p>{{object.get_hours}}</p>
<h4>{{object.first_name}} {{object.last_name}}'s counties</h4>
{% if object.counties.all %}
<p>{% for county in object.counties.all %}</p>
<p>{{county}}</p>
{% endfor %}
{% else %}
<p>This object is not signed up for gleaning in any counties.</p>
{% endif %}
<p>{{object.first_name}} has{% if not object.agreement %} <b>not</b>{% endif %} agreed to the volunteer agreement.</p>
<p>{{object.first_name}} has{% if not object.waiver %} <b>not</b>{% endif %} signed the liability waiver.</p>
<p>{{object.first_name}} has{% if not object.photo_release %} <b>not</b>{% endif %} consented to the photo release.</p>
<p>{{object.first_name}} has{% if not object.opt_in %} <b>not</b>{% endif %} opted in to email additional email communications.</p>


{% endblock content %}
{% block related %}
<div class="row-fluid">
<div class="span12">
<h5>Emergency Contact</h5>
<p>{{object.ecfirst_name}} {{object.eclast_name}}</p>
<p>Phone: {{object.ecphone}}</p>
<p>{{object.ecrelationship}}</p>
</div>
<div class="span12">rm
</div>

<div class="span12">
<!--h5>User Stats</h5-->
</div>
{% if 'userprofile.promote' in perms %}
<div class="span12">
    <a class="btn btn-success" href="{% url 'userprofile:userpromote' object.user.id %}">Promote This User</a>
</div>
{% endif %}
<div class="span12">
<!--h5>User Stats</h5-->
</div>
{% if not object.accepts_email %}
<div class="span12">
    <a class="btn btn-danger" href="{% url 'userprofile:reaccept' object.user.id %}">This object opted back into recieving emails</a>
</div>
{% endif %}
</div>
{% endblock related %}