{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Edit your User Information
{% endblock title %}

{% block content %}
<div id="glean-index-header">
    <h1 class="pull-left">{{object.user.username}}'s Details</h1>
</div>

<div class="glean-index-red red">
    <h3>Your Details</h3>
    <p>Change them if you need to. Just be sure to double check your spelling.</p>
</div>
<div class="glean-index-red red">
	{% if request.session.password_reset == "True" %}<h3>Password set successfully.</h3>{% endif %}
	{% if request.session.password_reset == "Failed" %}<h3>Password reset failed.</h3>{% endif %}
	{% if request.session.password_reset == "False" %}<h3>No Password Reset.</h3>{% endif %}
	
</div>
<div class="form-errors">
{{form.errors}}
</div>
<div style="width:600px; float:left">
  {% crispy form %}
</div>
<div>

</div>
<style>
.add-on {
    background-color: transparent !important;
    border: none !important;
}
.row {
    margin-left: 0px !important;
  }
</style>
{% endblock content %}