{% extends 'base.html' %}
{% block title %}
Create a New User
{% endblock %}


{% block heading %}
	<h3>Input New Volunteers</h3>
	<h4>{{user.member_organization.get}}</h4>
{% endblock heading %}

{% block content %}
<h5 class='text-success' style="text-align:center;">{{notice}}</h5>
<h5 class='text-danger' style="text-align:center;">{{form.errors}}</h5>
<form method="POST">
	{% csrf_token %}
	{% include 'userprofile/customadd.html' %}
	<div class="form-actions" style="text-align:right;">
		<span class="pull-left"><span class="text-error">All Fields</span> <small>(except zipcode and address 2)</small> <span class="text-error">are required</span></span>
		<div class="pull-right">
			<input type="submit" name='action' class="btn btn-success" value="Save">
			<input type="submit" name='action' class="btn btn-danger" value="Save and Create Another">
		</div>
	</div>
</form>
{% endblock %}

{% block related %}
<h3>Recently added members</h3>
{% if 'userprofile.uniauth' in perms %}
{% for person in users %}
<li><a href="{% url 'userprofile:userprofile' person.id %}">{% if person.profile_set.get.member_organization %}{{person.profile_set.get.member_organization}} {% endif %}{{person.profile_set.get.first_name}} {{person.profile_set.get.last_name}}{% if person.member_organizations.all %} - {% for memorg in person.member_organizations.all %}{{person.member_organization}} - {% endfor %}{% endif %}</a></li>
{% endfor %}
{% else %}
{% for person in users %}
<li><a href="{% url 'userprofile:userprofile' person.id %}">{{person.profile_set.get.first_name}} {{person.profile_set.get.last_name}}</a></li>
{% endfor %}
{% endif %}
</ul>
{% endblock related %}