{% extends 'base.html' %}
{% load url from future %}
{% block title %}
Volunteer Index
{% endblock title %}

{% block body %}

<div id="glean-index-header">
	<h1 class="pull-left">Volunteer Index</h1>
	<div id="glean-buttons">
		<a href="{% url 'userprofile:newuser' %}">
			<button class="glean-button green-button no-margin">
				Add a New Volunteer
			</button>
		</a>
	</div>
</div>

<div class="glean-index-red red">
	<h3>Our Volunteer Rolls</h3>
	<p>This is a list of all volunteers that exist in the Gleaning Interface System.</p>
</div>

<div id="index-controls">
	<div class="more-buttons">
		<a href="{% url 'userprofile:download' %}">
			<button id="download-list" class="glean-button red-button">
				Download Volunteer Info
			</button>
		</a>
		<a href="{% url 'gleanevent:postdownload' %}">
			<button id="download-list" class="glean-button yellow-button">
				View Volunteer Hours
			</button>
		</a>
		
	</div>
</div>

<div id="glean-index" class="yellow-box yellow-top">
	{% if users %}
	
		<div class="glean-column">
			<ul>
			{% for person in users %}
			{% if forloop.counter|divisibleby:10 %}
			</ul>
		</div>
		<div class="glean-column">
			<ul>
			{% endif %}
			<li><a href="{% url 'userprofile:userprofile' person.user.pk %}">{{person.last_name}}, {{person.first_name}} - {{person.user.username}}</a>
			</li>
			{% endfor %}
			</ul>
		</div>
	</div>
	{% else %}
	<span>No users :(</span>
	{% endif %}
</div>
{% include "about_box.html" %}
{% include "partners.html" %}
{% endblock body %}
