<div class="yellow-box about-box green-top-slim">
    <div class="pull-left"><img src="/static/images/salvations-farms-circle.png"></div>
    <div class="pull-left">
        <p>The Vermont Gleaning Collective, an initiative of Salvation Farms,<br>is a network of professionally organized community-based cleaning programs.</p>
        <p>Salvation Farms' mission is to build increased resilience in Vermont's food systems through<br>
        agricultural surplus management. With more than ten years' experience managing farm surplus<br>
        foods through activities like gleaning, salvation Farms is committed to guiding food-focused<br>
        non-profits in scaling up their regionally-based, farm-fresh food rescue and distribution efforts.
    </div>
</div>