{% extends 'base.html' %}
{% load comments %}
{% load url from future %}
{% block title %}
Welcome to the Gleaning Interface!
{% endblock %}
{% block body %}
<h1 class="header-title">Vermont Gleaning Collective</h1>
<div class="container anon-login">
    <div class="red login-box">
        <p>Thanks for your interest in gleaning in Vermont!</p>

        <p>By registering as a gleaner with the Vermont Gleaning Collective here, you will receive invitations to participate in gleans at your area farms plus view gleans occurring around the state.</p>

        <p>We happily welcome you to our community of gleaners and look forward to making Vermont a more food independent state with you.</p>
        <h4>Login: <small style="color:black">(usernames are case sensitive)</small></h4>
        <form method="POST" class="form" action="{% url 'auth_login' %}?next=/">
                        {% csrf_token %}
            <input type="text" name="username" placeholder="Your Username..."><br />
            <input type="password" name="password" placeholder="Your Password...">

            <input type="submit" id="glean-submit" value="Glean!">
        </form>
        <h4>Not A Gleaner Yet?</h4>
        <h4><a class="" href="{% url 'registration_register' %}">
            Sign up now
        </a></h4>
    </div>
    <div class="slider-holder">
        <img id="slider-img" src="/static/images/Slider2.JPG" alt="photo by dccentralkitchen, found on flickr" class="img-polaroid hidden-phone" />
    </div>
</div>
{% include "about_box.html" %}
{% include "partners.html" %}
</div>
{% endblock %}

{% block javascript %}
<!--script type="text/javascript">
    slider_index = 0
    var prefix = "/static/images/";
    var images = [
        "Slider0.png",
        "Slider1.png",
        "Slider2.JPG",
        "Slider3.png",
        "Slider4.png",
        "Slider5.png",
        "Slider6.png"
        ];
    var $img = $("#slider-img");

    function nextimage(){
        $img.fadeOut(300, function(){
            $img.attr("src", prefix+images[slider_index]);
        }).delay(300).fadeIn();
        slider_index = (slider_index + 1) % 7;
        setTimeout('nextimage()', 5000);
    }

    $(document).ready(function() {
        setTimeout('nextimage()', 5000);
    })
</script-->
{% endblock javascript %}