{% extends 'base.html' %}
{% load comments %}
{% load url from future %}
{% block title %}
Welcome to the Gleaning Interface!
{% endblock %}
{% block body %}
<h1>Vermont Gleaning Collective</h1>

<div class="red login-box">
    <p>Thanks for your interest in gleaning in Vermont!</p>

    <p>By registering as a gleaner with the Vermont Gleaning Collective here, you will recieve invitations to participate in gleans at your area farms plus view gleans occuriring around the state.</p>

    <p>We happily welcome you to our community of gleaners nad look forward to making Vermont a more food independent state with you.</p>
    <h4>Login:</h4>
    <form method="POST" class="form" action="{% url 'auth_login' %}?next=/">
                    {% csrf_token %}
        <input type="text" name="username" placeholder="Your Username..."><br />
        <input type="password" name="password" placeholder="Your Password...">

        <input type="submit" value="Glean!">
    </form>
    <h4>Not Registered Yet?</h4>
    <a class="" href="{% url 'registration_register' %}">
        Sign up now
    </a>
</div>
<div class="slider-holder">
    <img src="/static/images/corn.jpg" alt="photo by dccentralkitchen, found on flickr" class="img-polaroid hidden-phone" />
</div>

{% endblock %}