{% load staticfiles %}
{% load url from future %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{% block title %}{% endblock title %} - The Gleaners Interface</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="{% static '/static/initializr/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static '/static/initializr/css/bootstrap-responsive.min.css' %}">
      <link rel="stylesheet" href="{% static '/static/initializr/css/datepicker.css' %}">
      <link rel="stylesheet" href="{% static '/static/initializr/css/main.css' %}">
      <link href="http://fonts.googleapis.com/css?family=Kameron:400,700" rel="stylesheet" type="text/css">

      <script src="{% static '/static/initializr/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-48718940-1', 'vermontgleaningcollective.org');
        ga('require', 'linkid', 'linkid.js');
        ga('send', 'pageview');
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; 

        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';

        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
      {% block style %}{% endblock %}
    </head>


  <body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
              <script src="{% static '/static/initializr/js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static '/static/initializr/js/vendor/bootstrap-datepicker.js' %}"></script>
        <div id="navbar-container">
            {% include 'navbar.html' %}
        </div>

    <div id="wrapper">
      <div class="row-fluid" id="navbar-row">
      </div>

      <div class="container">

          <div class="heading-container">
            {% block heading %}{% endblock %}
          </div>

        <div class="body-container">

              {% block body %}
                <div class="span7">
                    {% block content %}
                    <span class="text-error">I am error</span>
                    {% endblock content %}
                </div>
                <div class="span5">
                  {% block related %}{% endblock %}
                </div>
              {% endblock body %}
         </div>
        </div>
      </div>
<div id="footer-overall">
     <div id="gleaners-container">
      <img src="/static/images/gleaners.png" id="gleaners">
     </div>
  <div id="footer-container">
    <div id="sections-container">
      <div id="about-section">
      <h4>About</h4>
      <p style="padding-left:25px">The Vermont Gleaning Collective, an initiative of Salvation Farms,
is a network of professionally organized community-based gleaning programs.  The Gleaning interface is the central tool of the Vermont Gleaning Collective for coordinating gleaning activities.</p>
      </div>
      <div id="contact-section-container">
        <h4>Contact Us</h4>
        <ul>
          <li>Vermont Gleaning Collective</li>
          <li>PO Box 1174</li>
          <li>Morrisville, VT 05661</li>
          <li>Email: <a href="mailto:info@salvationfarms.org">info@salvationfarms.org</a></li>
        </ul>
      </div>
      <div id="link-section-container">
        <h4>Links</h4>
        <ul>
          <li><a href="{% url "home" %}">Home Page</a></li>
          <li><a href="{% url "gleanevent:index" %}">Glean Index</a></li>
          <li><a href="{% url "userprofile:selfedit" %}">Profile Settings</a></li>
          <li><a href="{% url 'auth_logout' %}">Logout</a></li>
        </ul>
      </div>
      <div id="processing-section-container">
        <h4>Salvation Farms</h4>
        <a style="padding-left:25px" href="http://salvationfarms.org">
          <img src="/static/images/salvations-farms-circle.png">
        </a>
      </div>
    </div>
  </div>
</div>
<script src="{% static '/static/initializr/js/main.js' %}"></script>
{% block javascript %}
{% endblock javascript %}
  </body>
</html>
