        <button id="the-beta-button" href="#beta-modal" role="button" data-toggle="modal" class="btn btn-warning btn-large btn-block">
        BETA TESTING PERIOD IS LIVE - Click here for more information!
        </button>
        
<div id="beta-modal" class="modal yellow-box hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header" style="border:none;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Beta Testing - May 3rd - April 30st! </h3>
  </div>
  <div class="modal-body">
    <p>Hi and thanks for checking out the Gleaners Interface!</p>
    <p>Right now we're in the midst of beta testing, getting organizations comfortable with creating and announcing gleans, and getting users set up.</p>
    <p>As a disclaimer, any gleans through the end of March are considered tests- no food will be gathered and no emails will be sent, but don't let that stop you from looking around and clicking on things. Any information or preferences you share with us now will still be there when the site is live!</p>
    <p>Thanks again for checking out our website, and we look forward to gleaning with you!</p>
  </div>
  <div class="modal-footer red" style="border:none; padding:0">
    <input type="submit" class="glean-button green-button" data-dismiss="modal" aria-hidden="true" value="Close">
  </div>
</div>