{% load comments %}

<div class="yellow-box green-top comments-holder">
            <div class="comments">
              {% get_comment_list for object as comment_list %}

              {% if comment_list %}
                  {% for comment in comment_list %}
                    <p>{{comment.user.profile.first_name}} {{comment.user.profile.last_name}}:&nbsp;&nbsp;{{comment.comment}}</p>
                  {% endfor %}
              {% else %}
                <div style="text-align:center;"><small>Share your thoughts and needs with other volunteers!</small></div>
              {% endif %}
            </div>
        </div>

        <div id="glean-comment-form">
            {% if user.is_authenticated %}
                {% get_comment_form for object as form %}
                <form action="{% comment_form_target %}" method="POST">
                        {% csrf_token %}
                        <!--{{ form.comment }}-->
                        <input type="text" style="margin-top:12px" id="id_comment" name="comment">

                        {{ form.honeypot }}
                        {{ form.content_type }}
                        {{ form.object_pk }}
                        {{ form.timestamp }}
                        {{ form.security_hash }}
                        <input type="hidden" name="next" value="{% url 'gleanevent:detailglean' object.id %}" />
                        <input type="submit" name="submit" class="glean-button yellow-button" value="Post a Comment" id="id_submit" />
                </form>
            {% else %}
                <p>Please <a href="{% url 'auth_login' %}">log in</a> to leave a comment.</p>
            {% endif %}
        </div>