{% extends 'base.html' %}
{% load comments %}
{% load url from future %}
{% block title %}
Welcome to the Gleaning Interface!
{% endblock %}
{% block body %}
     <div class="span12">
	<div class="row" id="calendar" style="margin:0 auto;">
	<style>
	</style>
	{% for day in days %}
	<div class="day-class">
		<a class="day-name" href="{% url 'gleanevent:index' %}
		?date_from={{day.0|date:"m"}}%2F{{day.0|date:"d"}}%2F{{day.0.year}}
		&date_until={{day.0|date:"m"}}%2F{{day.0|date:"d"}}%2F{{day.0.year}}">
		<div class="day-title">{{day.0|date:"l - d"}}</div></a>
		<br />
		<ul style="">
			{% for glean in day.1 %}
			<li><a href="{% url 'gleanevent:detailglean' glean.id %}"><span class="{{glean.member_organization.color}}">{{glean.member_organization}}</span></a></li>
			{% endfor %}
			{% if day.2 %}
			<li><a href="{% url 'gleanevent:index' %}
		?date_from={{day.0|date:"m"}}%2F{{day.0|date:"d"}}%2F{{day.0.year}}
		&date_until={{day.0|date:"m"}}%2F{{day.0|date:"d"}}%2F{{day.0.year}}">
		(click for more)</a></li>
			{% endif %}
		</ul>
	</div>
	{% cycle '' '' '' '' '' '' '</div><div class="row" style="margin:0 auto;;">' %}	
	{% endfor %}
</div>
<div class="future-link">
{% if future %}Upcomming Gleans: <a href="{% url 'gleanevent:index' %}?date_from={{two_weeks|date:"m"}}%2F{{two_weeks|date:"d"}}%2F{{two_weeks.year}}">{{future.count}} Glean{% if future.count != 1 %}s{% endif %}</a>{% endif %}</div>
<div class="divider" style="">&nbsp;</div>
</div>
</div>
<div class="row-fluid">
	<div class="span12">
	{% for post in posts %}
		<a href="{% url 'posts:detailpost' post.id %}"><h3 class="post-title">{{post.title}}</h3></a>
		<h5 class="post-subheading">Posted on {{post.datetime|date:"M j"}} by {{post.created_by.profile_set.get.first_name}} {{post.created_by.profile_set.get.last_name}} of {{post.created_by.profile_set.get.member_organization.name}}</h5>
		{{post.body|linebreaks}}
		{% get_comment_count for post as comment_count %}
		<p><small>{{comment_count}} Comment{% if comment_count != 1 %}s{% endif %}</small></p>
	{% endfor %}
</div>
{% endblock %}