{% extends 'base.html' %}
{% load comments %}
{% load url from future %}
{% block title %}
Welcome to the Gleaning Interface!
{% endblock %}

{% block body %}
<h1 class="header-title">Vermont Gleaning Collective</h1>
<div class="calendar-container red">
    <div class="row">
        <h3 class="pull-left">Upcoming Gleans</h3>
        {% if "gleanevent.auth" in perms %}
        <a href="{% url "gleanevent:newglean" %}"><button class="pull-right glean-button" href="">New Glean</button></a>
        {% endif %}
        
    </div>
    <div>
    <div class="row" id="calendar">
    {% for day in days %}
    <div class="day-class{% if not day.3 %} today{% endif %}">
        <a class="day-name" href="{% url 'gleanevent:index' %}?date_from={{day.0|date:"m"}}%2F{{day.0|date:"d"}}%2F{{day.0.year}}&amp;date_until={{day.0|date:"m"}}%2F{{day.0|date:"d"}}%2F{{day.0.year}}">
        <div class="day-title">
            <h4>{{day.0|date:"l - d"}}</h4>
        </div></a>
        <div class="day-body">
            <ul>
                {% for glean in day.1 %}
                <li><a href="{% url 'gleanevent:detailglean' glean.id %}"><span class="{{glean.member_organization.color}}">
                {% if glean.counties %}
                    {{glean.counties}}, {{glean.counties.state}}
                {% else %}
                    {{glean.member_organization}}
                {% endif %}
                </span></a></li>
                {% endfor %}
                {% if day.2 %}
                <li><a href="{% url 'gleanevent:index' %}
            ?date_from={{day.0|date:"m"}}%2F{{day.0|date:"d"}}%2F{{day.0.year}}
            &amp;date_until={{day.0|date:"m"}}%2F{{day.0|date:"d"}}%2F{{day.0.year}}">
            (click for more)</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
</div>

<div class="yellow-bar">&nbsp;</div>
</div>
{% include "about_box.html" %}
{% include "partners.html" %}
</div>
<style>
#footer-overall {
    position: relative;
    top: -297px;
}

html {
    height: 1000px;
}
body{
    height: 1000px;
}
</style>
{% endblock %}

{% block javascript %}
{% endblock javascript %}