{% extends 'base.html' %}
{% load comments %}
{% load url from future %}
{% block title %}
Welcome to the Gleaning Interface!
{% endblock %}
{% block content %}

<div class="row" style="margin:0 auto; width:1040px;">
	<style>
	.day{width:14.158%;border:1px #e5e5e5 solid;float:left;}
	.day + .day{border-left:none;}
	.day-name {width:100%; margin:0; padding:6px 0 0; height:28px; border-bottom: 1px #e5e5e5 solid; text-align: center;}
	</style>
	{% for day in days %}
	<div class="day">
		<div class="day-name">{{day.0}}</div>
		<br />
		<ul>
			{% for glean in day.1 %}
			<li><a href="{% url 'gleanevent:detailglean' glean.id %}">{{glean.title}}</a></li>
			{% endfor %}
		</ul>
	</div>	
	{% endfor %}

</div>

Upcomming Gleans: {{future.count}}


<div class="divider" style="width:100%; clear:both; border-bottom:dotted #444 1px;">&nbsp;</div>
	{% for post in posts %}
		<h3><a href="{% url 'posts:detailpost' post.id %}">{{post.title}}</a></h3>
		<p>{{post.excerpt}}</p>
		{% get_comment_count for post as comment_count %}
		<p><small>{{comment_count}} Comment{% if comment_count != 1 %}s{% endif %}</small></p>
	{% endfor %}
{% endblock %}