<div id="partners">
    <div class="pull-left">
        <h3>Partners:</h3>
    </div>
    <div class="pull-left partner-image">
        <a href="http://www.rutlandfarmandfood.org/">
            <img class="pull-left" src="/static/images/RAFFL.png">
        </a>
    </div>
    <div class="pull-left partner-image">
        <a href="http://www.intervale.org/">
            <img class="pull-left" src="/static/images/intervale.png">
        </a>
    </div>
    <div class="pull-left partner-image">
        <a href="http://www.hope-vt.org">
            <img class="pull-left" src="/static/images/hope.png">
        </a>
    </div>
    <div class="pull-left partner-image">
        <a>
            <img class="pull-left" src="/static/images/community_harvest.png">
        </a>
    </div>
</div>