<div id="partners">
    <div class="pull-left">
        <h3>Members:</h3>
    </div>
    <div class="pull-left partner-image">
        <a href="http://www.rutlandfarmandfood.org/">

            <div id="RAFFL-logo" class="pull-left"></div>
        </a>

    </div>
    <div class="pull-left partner-image">
        <a href="http://www.intervale.org/">
            <div id="intervale-logo" class="pull-left">&nbsp;</div>
        </a>
    </div>
    <div class="pull-left partner-image">
        <a href="http://www.hope-vt.org">
            <div id="hope-logo" class="pull-left"></div>
        </a>
    </div>
    <div class="pull-left partner-image">
        <a href="http://www.communityharvestvt.org">
            <div id="community-harvest-logo" class="pull-left"></div>
        </a>
    </div>
</div>