<form action="" method="post">
	{{form.errors.as_ul}}
{% csrf_token %}

<div class="row-fluid non-responsive">
   <div class="span4">
   <div class="table-form table-important">
         <h4 class="text-center">Primary Fields</h4>
<table>

<tbody>
   <tr>
      <td><label for="id_title"><label for="id_title">Title<span class="text-error">*</span></label></label></td>
      <td><div class="input-append">{{form.title}}<button class="btn" id="title-button" type="button">i</button></div></td>
   </tr>
   <tr>
      
      <td><label for="id_date"><label for="id_date">Date<span class="text-error">*</span></label></label></td>
      <td>{{form.date}}</td>
      
      
    </tr>
    <tr>
      <td><label for="id_time"><label for="id_time">Time<span class="text-error">*</span></label></label></td>
      <td>{{form.time}}{{form.time_of_day}}</td>
    </tr>
    <tr>
      <td><label for="id_duration"><label for="id_duration">Duration</label></label></td>
      <td>{{form.duration}}
      </td>
    </tr>
    <tr>
      <td><label for="id_volunteers_needed"><label for="id_volunteers_needed">Volunteers<span class="text-error">*</span></label></label></td>
      <td>{{form.volunteers_needed}}</td>
    </tr>
    <tr><td><label for="id_description"><label for="id_description">Description<span class="text-error">*</span></label></label></td>
      <td><div class="input-append">{{form.description}}<button id="description-button" class="btn" type="button">i</button>
    </div></td></tr>
 </tbody>
</table>
</div>
</div>
<div class="span4">
   <div class="table-form table-important">

   <table>
      <tbody>
         <tr><td><label for="id_farm"><label for="id_farm">Farm</label></label></td><td>
         <div class="input-append">{{form.farm}}<button id="farm-button" class="btn" type="button">i</button></div>
   </td></tr>
   <tr>
   <td>


      <label for="id_farm_location"><label for="id_farm_location">Farm location</label></label>
   </td>
   <td>{{form.farm_location}}</td>
      </tbody>
   </table>
   </div>
   <div class="table-form">
   <table>
      <tbody>
      
   
   
      </tr>
      <tr>
      <td><label for="id_counties"><label for="id_counties">Counties</label></label></td>
         <td><div class="input-append">{{form.counties}}<button id="counties-button" type="button" class="btn">i</button></div></td>
         <script type="text/javascript">
              
         </script>
      </tr>


      <tr>
      <td><label for="id_address_one"><label for="id_address_one">Address (line one)</label></label></td>
         <td>{{form.address_one}}</td>
       </tr>

      <tr>
      <td><label for="id_address_two"><label for="id_address_two">Address (line two)</label></label></td>
         <td>{{form.address_two}}</td>
       </tr>

      <tr>
      <td><label for="id_city"><label for="id_city">Address (City)</label></label></td>
         <td>{{form.city}}</td>
       </tr>

      <tr>
      <td><label for="id_state"><label for="id_state">State</label></label></td>
         <td>{{form.state}}</td>
       </tr>

      <tr>
      <td><label for="id_zipcode"><label for="id_zipcode">Address Zip Code</label></label></td>
         <td>{{form.zipcode}}</td>
       </tr>
       </table>
    </div>
</div>
<div class="span4">
   <div class="table-form">
      <table>
         <tbody>

         <tr>
   
      <td><label for="id_directions"><label for="id_directions">Directions</label></label></td>
   <td>{{form.directions}}</td>
      <tr><td><label for="id_instructions"><label for="id_instructions">Instructions</label></label></td>
      <td>{{form.instructions}}</td></tr>
      
 </tr>
         </tbody>
      </table>
   </div>
</div>
</div>
<div class="form-actions">
<span class="text-error pull-left">*</span><span>Denotes a Required Field</span>
<input type="submit" class="btn btn-primary pull-right" value="Submit" />
<!--<button href="#testGoogle" data-toggle="modal" type="button" class="btn btn-info">Test Location</button>-->

 
<!-- Modal -->
<div id="testGoogle" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Google Maps Test</h3>
  </div>
  <div class="modal-body">
    <div id="map-canvas" style="height:400px;"></div>
  </div>
  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHs-DW2GgXZL0nvZ4xj8q5AhdJQ9sNpaY&sensor=false">
</script>
<script type="text/javascript">

var geocoder;
var map;
function initialize() {
  geocoder = new google.maps.Geocoder();
  var latlng = new google.maps.LatLng(44.554283, -72.601981);
  var mapOptions = {
    zoom: 9,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
}

function codeAddress(one, city, state, zipcode) {
  var address = one + ' ' + city+ ','+ state + ' ' + zipcode;
  geocoder.geocode( { 'address': address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      
    }
  });
}

google.maps.event.addDomListener(window, 'load', initialize);
$('#testGoogle').click(function(){
      var one = $('#id_address_one').val();
      var city = $('#id_city').val();
      var state = $('#id_state option:selected').val();
      var zip = $('#id_zip').val();
      codeAddress(one, city, state, zip);
});

</script>
  <div class="modal-footer">
      <span>May Take a Few Seconds...</span>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
   </div>
</div>
</div>
</form>
<script type="text/javascript">

      function setupFarmChoices(data){

      }
      function updateAddressFields(data){
         $('#id_instructions').val(data['instructions']);
         $('#id_directions').val(data['directions']);
         $('#id_address_one').val(data['address_one']);
         $('#id_address_two').val(data['address_two']);
         $('#id_city').val(data['city']);
         $('#id_state').val(data['state']);
         $('#id_zipcode').val(data['zipcode']);
         $('#id_counties').children().prop("selected", false);
         //#######this code needs to be written ##############
         
         var length = data['counties'].length,
             element = null;
         for (var i = 0; i < length; i++) {
             element = data['counties'][i];
            $('#id_counties').children("[value="+element+"]").prop("selected", true);              
         }
         for (var key in data['counties']){

         }
      
      }
      function clearAddressFields(){
         $('#id_instructions').val('');
         $('#id_directions').val('');
         $('#id_address_one').val('');
         $('#id_address_two').val('');
         $('#id_city').val('');
         $('#id_state').val('');
         $('#id_zipcode').val('');
         $('#id_counties').children().prop("selected", false);
      }
      function updateFarmLocationChoices(data){
         var locations = data['farm_locations'];
            $('#id_farm_location').children().remove()
            $.each(locations, function(val, text){
               $('#id_farm_location').append(
                  $('<option></option>').val(val).html(text)
                  );
            });
            $('#id_farm_location').children([text="---------"]).prop("selected", true)
      }
      function clearFarmLocationChoices(){
         $('#id_farm_location').children().remove()
      }

      // This is the key code \\
      $(function() {
         $('#id_farm').change(function(){
            var farm = $(this).children("option:selected").val();
            if (farm != "") {
               $.ajax({
                  url:"/api/farm/"+farm,
                  success: function(data){
                     $('#id_address_one').text(data['address_one']);
                     updateAddressFields(data);
                     updateFarmLocationChoices(data);
               },
            });

            } else {
                     clearAddressFields();
                     clearFarmLocationChoices();
            } 
         });         
         
         $('#id_farm_location').change(function(){
            var farm = $('#id_farm').children("option:selected").val();
            var selection = $(this).children("option:selected").val();
            if (selection != "") {
               $.ajax({
                  url:"/api/farmlocation/"+farm+'/'+selection,
                  success: function(data){
                     updateAddressFields(data);
               },
            });

            } else {
               clearAddressFields();
            }
         });
         clearFarmLocationChoices();
      });
      
      </script>