{% extends 'base.html' %}
{% load url from future %}
{% block title %}
RSVP Confirmation
{% endblock title %}
{% block content %}
	<h3>Thanks for volunteering! We'll see you at the glean!</h3>
	<p>You will be automatically be redirected to the Glean Event Page. <a href="{% url 'gleanevent:detailglean' glean.id %}">Click Here</a> if you are not automatically redirected....</p>
	<script type="text/JavaScript">
<!--
setTimeout("location.href = '{% url 'gleanevent:detailglean' glean.id %}';", 3500);
-->
</script>
{% endblock content %}