{% extends 'base.html' %}
{% load url from future %}
{% block title %}
RSVP Page
{% endblock title %}
{% block content %}
	<h3>Sorry we won't be seeing you!</h3>
	<p>You will be automatically be redirected to the Glean Event Page. <a href="{% url 'gleanevent:detailglean' glean.id %}">Click Here</a> if you are not automatically redirected....</p>
	<script type="text/JavaScript">
<!--
setTimeout("location.href = '{% url 'gleanevent:detailglean' glean.id %}';",1500);
-->
</script>
{% endblock content %}