{% extends 'base.html' %}
{% block title %}
Gleaning Details
{% endblock title %}
{% block content %}

<div class="span3">
	<h2>{{glean.title}}</h2>
  <h3>{{glean.date}}</h3>
  {% if not glean.happened %}
  <a href="{% url 'announce:announceglean' glean.id %}" class="btn btn-danger">
    Announce This Glean!
  </a>
  <br />
  <br /> 
  <a href="{% url 'gleanevent:confirmlink' glean.id %}" class="btn btn-success">
    RSVP to this glean!
  </a>
  <br />
  <br /> 
  <a href="{% url 'gleanevent:denylink' glean.id %}" class="btn btn-danger">
    Un-RSVP to this glean
  </a>
  {% if perms.gleanevent.auth and user.profile_set.get.member_organization == glean.member_organization or perms.gleanevent.uniauth %}
  <br />
  <br /> 
  <a href="{% url 'gleanevent:editglean' glean.id %}"class="btn btn-warning">
    Edit This Glean!
  </a>
  {% endif %}
  {% endif %}
  {% if glean.happened and not glean.data_entered %}
  <br />
  <br />
  {% if perms.gleanevent.auth and user.profile_set.get.member_organization == glean.member_organization or perms.gleanevent.uniauth %}
  <a href="{% url 'gleanevent:postglean' glean.id %}" class="btn btn-danger">
    Enter Post Glean Data!
  </a>
  {% endif %}
  {% endif %}
  
  {% if glean.farm %}
  <h3>{{glean.farm}}</h3>
  {% endif %}
  
  {% if glean.description %}
	<p>{{glean.description}}</p>
  {% endif %}
  <h4>Volunteers</h4>
  <p>RSVP'ed:{{glean.rsvped.count}}</p>
  <p>unRSVP'ed:{{glean.not_rsvped.count}}</p>
  <p>Required:{{glean.volunteers_needed}}</p>
  <h4>Location</h4>
  <p>{{glean.address_one}}</p>
  <p>{{glean.address_two}}</p>
  <p>{{glean.town}}</p>
	<h4>Useful Information</h4>
  {% if glean.directions %}
  <p>{{glean.directions}}</p>
  {% elif glean.farm_location %}
  <p>{{glean.farm_location.directions}}</p>
  {% else %}
  No directions :(
  {% endif %}
  <br />
  <p>{{glean.instructions}}</p>

</div>
<style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHs-DW2GgXZL0nvZ4xj8q5AhdJQ9sNpaY&sensor=false">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(44.554283, -72.601981),
          zoom: 10,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
        var marker = new google.maps.Marker({
          position: map.getCenter(),
          map: map,
  });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
<div class="span9" id="map-canvas" style="height:400px;"></div>

{% endblock content %}