{% extends 'base.html' %}
{% block title %}
Gleaning Details
{% endblock title %}
{% block content %}

<div class="span3">
	<h2>{{glean.title}}</h2>
	<p>{{glean.description}}</p>

	<h4>Location</h4>
	<p>{{glean.address_one}}</p>
	{% if glean.address_two %}<p>{{glean.address_two}}</p>{% endif %}
	<p>{{glean.town}}</p>
	<h4>Useful Information</h4>
	<p>{{glean.farm.directions}}</p>
	<p>{{glean.farm.instructions}}</p>

</div>
<style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHs-DW2GgXZL0nvZ4xj8q5AhdJQ9sNpaY&sensor=false">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(44.554283, -72.601981),
          zoom: 10,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
        var marker = new google.maps.Marker({
          position: map.getCenter(),
          map: map,
  });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
<div class="span9" id="map-canvas" style="height:400px;"></div>

{% endblock content %}