{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Gleaning Details
{% endblock title %}

{% block body %}

<div id="glean-header">
    <div id="glean-titles">
        <h1>{{object.title}}</h1>
        <h2>by {{object.member_organization}}</h2>
    </div>
    <div id="glean-buttons">
        {% if user.profile.member_organization == object.member_organization or perms.gleanevent.uniauth %}
      <div id="glean-buttons" class="pull-right">
        <a href="{% url "gleanevent:printglean" object.id %}"><button class="glean-button yellow-button nomargin">Print Field Sheet</button></a>
        <a href="{% url 'announce:announceglean' object.id %}"><button class="glean-button red-button nomargin">Send Announcement</button></a>
        <a href="{% url 'gleanevent:editglean' object.id %}"><button class="glean-button no-margin green-button" href="{% url 'gleanevent:editglean' object.id %}">Edit Glean</button></a>
        <a href="{% url 'gleanevent:deleteglean' object.id %}"><button class="glean-button no-margin red-button">Delete</button></a>
      </div>
    {% endif %}
    </div>
</div>

<div id="glean-wrapper">

    <div class="glean-half"> <!-- Begin First Half -->
        <div class="yellow-box red-top glean-details">

            <div class="glean-details-half">
                <div class="glean-details-quarter">
                    <h3>{% if object.farm %}{{object.farm.name}}{% else %}{{object.title}}{% endif %}</h3>
                    <span class='glean-address'>{{object.address_one}}<br />
                {% if object.address_two %}{{object.address_two}}<br />{% endif %}
                {{object.city}}, {{object.state}} {{object.zipcode}}</span>
            </div>
                <div class="glean-details-quarter">
                <h3>{{object.date}}</h3>
                    <h3>{{object.time}} {{object.time_of_day}}</h3>
                </div>
            </div>

            <div class="glean-details-half">
                <div class="glean-details-quarter">
                    <div class="attendance">

                        {% if object.upcomming %}
                            {% if user in object.rsvped.all %}
                            <h4 class="attending no-margin">Attending!</h4>
                                <br />
                                <a href="{% url 'gleanevent:denylink' object.id %}"><button class="glean-button no-margin red-button">I can't make it :(</button></a>
                            {% endif %}
                            {% if user in object.not_rsvped.all %}
                            <h4 class="not-attending">Not Attending</h4>
                                <a href="{% url 'gleanevent:confirmlink' object.id %}"><button class="glean-button no-margin green-button">I changed my mind!</button></a>
                            {% endif %}
                            {% if user not in object.rsvped.all and user not in object.not_rsvped.all %}
                            <h4 class="no-margin">Can you make it?</h4>
                                <br />
                                <a href="{% url 'gleanevent:confirmlink' object.id %}"><button class="glean-button no-margin green-button">I'll be there!</button></a>
                                <br />
                                <a href="{% url 'gleanevent:denylink' object.id %}"><button class="glean-button red-button">I can't make it :(</button></a>

                            {% endif %}
                        {% else %}
                        <h3 class="text-success">Gleaned!</h3>
                        {% endif %}
                    </div>
                </div>
                <div class="glean-details-quarter">
                    <h4>Volunteers</h4>
                    <ul class="no-list">
                        <li>Required:{{object.volunteers_needed}}</li>
                        <li>Yays:{{object.rsvped.count}}</li>
                        <li>Nays:{{object.not_rsvped.count}}</li>
                    </ul>
                </div>
            </div> <!-- End second glean-details-half -->
        <div class="description-row">
            <p id="description">{{object.description|linebreaks}}</p>
        </div>

        </div> <!-- End glean-details -->

        <div class="yellow-box yellow-top directions-instructions">
            <div class="pull-left half">
                <h3>Directions</h3>
                    <p>{{object.render_directions|linebreaks}}</p>
                    <h3>Instructions</h3>
                    <p>{{object.render_instructions|linebreaks}}</p>
            </div>
            <div class="pull-left half">
                <h3>Coordinator</h3>
                {% with object.created_by.profile as profile %}
                    <p>{{profile.first_name}} {{profile.last_name}}</p>
                    <p>{{profile.phone}}</p>
                    <p>{{profile.user.email}}</p>
                {% endwith %}
            </div>
        </div> <!-- End Directions Box -->

    </div> <!-- End First Half -->


    <div class="glean-half"> <!-- Begin First Half -->

        <div id="map-container" class="red" address="{{object.address_one}} {{object.city}}, {{object.state}} {{object.zipcode}}">
            <div id="map-canvas">&nbsp;</div>
        </div>

        {% include "comments.html" %}
        
    </div> <!-- End Second Half -->
</div>

{% endblock body %}

{% block javascript %}
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHs-DW2GgXZL0nvZ4xj8q5AhdJQ9sNpaY&amp;sensor=false">
</script>
<script>
var $container = $('.comments-holder');
$container.scrollTop($container.height())
</script>
<script src="{% static '/static/initializr/js/google_map.js' %}"></script>
{% endblock javascript %}