{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Update Glean
{% endblock title %}

{% block body %}
<div id="glean-index-header">
	<h1 class="pull-left">Make Changes to {{object.title}}</h1>
</div>
<div class="medium-bar red" style="margin-bottom:10px">&nbsp;</div>
{% crispy form %}
<div class="medium-bar yellow">&nbsp;</div>
<div style="margin-bottom:200px">{{form.errors}}&nbsp;</div>
<style>
#footer-overall {
    top: 800px;
}
</style>
{% endblock body %}
{% block javascript %}
<script src="/static/js/gleanform.js"></script>
{% endblock javascript %}