{% extends 'base.html' %}
{% load url from future %}
{% block title %}Glean Index
{% endblock title %}

{% block heading %}
{% endblock %}

{% block body %}

<div id="glean-index-header">
	<h1 class="pull-left">Glean Index</h1>
	<div id="glean-buttons">
		<a href="{% url 'gleanevent:newglean' %}">
			<button class="glean-button green-button no-margin">
				Add a New Glean
			</button>
		</a>
	</div>
</div>

<div class="glean-index-red red">
	<h3>All of our gleans past, present and future in one place.</h3>
	<p>If you are looking for a more specific time frame you              may filter              the list by a start and end date or just click on a  glean in the list below to view, edit the glean event page, send announcements, enter volunteer hours, or post comments.</p>
</div>

<div id="glean-index-controls">
	<form id="glean-index-form" method="get" class="form-inline">
		<label for="date_from">From</label>
		<input id="date_from" maxlength=200 name="date_from" type="text" value="{{date_from}}" class="datepicker"></input>
		<label for="date_until">Until</label>
		<input id="date_until" maxlength=200 name="date_until"  type="text" value="{{date_until}}" class="datepicker"></input>
		<input type="submit" class="glean-button green-button no-margin" value="Filter Dates">
	</form>
	<div class="more-buttons">
		<a href="{% url 'announce:announcements' %}">
			<button class="glean-button yellow-button no-margin">
				Sent Announcements
			</button>
		</a>
		<a href="{% url 'gleanevent:download' %}">
			<button id="download-list" class="glean-button red-button">
				Download List
			</button>
		</a>
	</div>
</div>

<div id="glean-index" class="yellow-box yellow-top">
	{% if gleans %}
	
		<div class="glean-column">
			<ul>
			{% for glean in gleans %}
			{% if forloop.counter|divisibleby:10 %}
			</ul>
		</div>
		<div class="glean-column">
			<ul>
			{% endif %}
			<li>{{glean.date}} - 
				<a href="{% url 'gleanevent:detailglean' glean.id %}">{{ glean.title }}</a>{% if perms.gleanevent.auth and user.profile.member_organization == glean.member_organization or perms.gleanevent.uniauth %}{% endif %}
			</li>
			{% endfor %}
			</ul>
		</div>
	</div>
	{% else %}
	<span>No gleans :(</span>
	{% endif %}
</div>
{% include "about_box.html" %}
{% include "partners.html" %}
{% endblock body %}
