{% extends 'base.html' %}
{% load url from future %}
{% block title %}Glean Index
{% endblock title %}

{% block content %}
<form method="get">
	<div class="input-append datepicker">
		<label for="date_from">From</label> <input id="date_from" maxlength=200 name="date_from" data-format="yyyy-MM-dd" type="text" value="{{date_from}}"></input>
		<span class="add-on">
		<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
		</span>
	</div>
	<div class="input-append datepicker">
		<label for="date_until">Until</label> <input id="date_until" maxlength=200 name="date_until" data-format="yyyy-MM-dd" type="text" value="{{date_until}}"></input>
		<span class="add-on">
		<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
		</span>
	</div>
	<input type="submit" value="Render New Form">
</form>


{% if gleans %}
<ul>
{% for glean in gleans %}
<li>
<a href="{% url 'gleanevent:detailglean' glean.id %}">{{ glean.title }}</a>{% if perms.gleanevent.auth and user.profile_set.get.member_organization == glean.member_organization or perms.gleanevent.uniauth %} - <a href="{% url 'gleanevent:editglean' glean.id %}">edit</a>{% endif %}
</li>
{% endfor %}
</ul>
{% else %}
<span>No gleans :(</span>
{% endif %}
{% endblock content %}
