{% extends 'base.html' %}
{% load url from future %}
{% block title %}Glean Index
{% endblock title %}

{% block content %}
{% if gleans %}
<ul>
{% for glean in gleans %}
<li>
<a href="{% url 'gleanevent:detailglean' glean.id %}">{{ glean.title }}</a>{% if perms.gleanevent.auth and user.profile_set.get.member_organization == glean.member_organization or perms.gleanevent.uniauth %} - <a href="{% url 'gleanevent:editglean' glean.id %}">edit</a>{% endif %}
</li>
{% endfor %}
</ul>
{% else %}
<span>No gleans :(</span>
{% endif %}
{% endblock content %}
