{% extends 'base.html' %}
{% load url from future %}
{% block title %}
New Glean!
{% endblock title %}


{% block heading %}
<h3>New Glean Form</h3>
{% endblock heading %}


{% block content %}
<div class="test">
   <a id="test-btn" class="btn btn-warning" href="{% url 'api:farm' 'Knotweed Farm' %}">Test!</a>
   <span id="test-span">Nothing at the moment</span>
   <script type="text/javascript">
   $(function() {
      $('#test-btn').click(function(){
         $.ajax({
            url:"/api/farm/Knotweed Farm",
            success: function(data){
               $('#test-span').text(data);
            },
         });
         return false;
      });         
   });

   </script>
</div>
<form action="/glean/new/" method="post">
{% csrf_token %}

<div class="form">
<table>

<tbody><tr>
<td><label for="id_title"><label for="id_title">Title</label></label></td>
   <td><input id="id_title" maxlength="200" name="title" type="text"></td>
   <td><label for="id_date"><label for="id_date">Date</label></label></td>
   <td><input class="datepicker" id="id_date" name="date" type="text"></td>
   <td><label for="id_time"><label for="id_time">Time</label></label></td>
   <td><input id="id_time" maxlength="40" name="time" type="text"></td>
 </tr>
<tr>
<td><label for="id_farm"><label for="id_farm">Farm</label></label></td>
   <td><select id="id_farm" name="farm">
<option value="" selected="selected">---------</option>
<option value="1">Knotweed Farm</option>
<option value="2">Skull Chasm</option>
</select></td>
<td><label for="id_description"><label for="id_description">Description</label></label></td>
   <td><textarea cols="40" id="id_description" name="description" rows="10"></textarea></td>
 </tr>

<tr>
<td><label for="id_farm_location"><label for="id_farm_location">Farm location</label></label></td>
   <td><select id="id_farm_location" name="farm_location">
<option value="" selected="selected">---------</option>
</select></td>
 </tr>
<tr>
<td><label for="id_instructions"><label for="id_instructions">Instructions</label></label></td>
   <td><textarea cols="40" id="id_instructions" name="instructions" rows="10"></textarea></td>
 </tr>

<tr>
<td><label for="id_volunteers_needed"><label for="id_volunteers_needed">Volunteers needed</label></label></td>
   <td><input id="id_volunteers_needed" name="volunteers_needed" type="text" value="1"></td>
 </tr>

<tr>
<td><label for="id_duration"><label for="id_duration">Duration</label></label></td>
   <td><input id="id_duration" maxlength="30" name="duration" type="text"></td>
 </tr>

<tr>
<td><label for="id_address_one"><label for="id_address_one">Address (line one)</label></label></td>
   <td><input id="id_address_one" maxlength="200" name="address_one" type="text"></td>
 </tr>

<tr>
<td><label for="id_address_two"><label for="id_address_two">Address (line two)</label></label></td>
   <td><input id="id_address_two" maxlength="200" name="address_two" type="text"></td>
 </tr>

<tr>
<td><label for="id_city"><label for="id_city">Address (City)</label></label></td>
   <td><input id="id_city" maxlength="200" name="city" type="text"></td>
 </tr>

<tr>
<td><label for="id_state"><label for="id_state">State</label></label></td>
   <td><select id="id_state" name="state">
<option value="">---------</option>
<option value="VT" selected="selected">Vermont</option>
<option value="NH">New Hampshire</option>
<option value="MA">Massachusetts</option>
<option value="NY">New York</option>
</select></td>
 </tr>

<tr>
<td><label for="id_zipcode"><label for="id_zipcode">Address Zip Code</label></label></td>
   <td><input id="id_zipcode" maxlength="11" name="zipcode" type="text"></td>
 </tr>

<tr>
<td><label for="id_directions"><label for="id_directions">Directions</label></label></td>
   <td><textarea cols="40" id="id_directions" name="directions" rows="10"></textarea></td>
 </tr>

<tr>
<td><label for="id_counties"><label for="id_counties">Counties</label></label></td>
   <td><select multiple="multiple" id="id_counties" name="counties">
<option value="1">Rutland County</option>
</select></td>
 </tr>

</tbody></table>
</div>
<input type="submit" value="Submit" />
</form>
{% endblock content %}