{% extends 'base.html' %}
{% load url from future %}
{% block title %}Post Glean
{% endblock title %}

{% block body %}
<h3>Enter Post Glean Data</h3>
<form method="get">
	<label target="extra">Lines for Un-RSVP'ed Gleaners</label>
	<input type="text" name="extra" value="0">
	<input type="submit" value="Render New Form">
</form>
<form method="post" action="">
		{% csrf_token %}
		{% include 'gleanevent/postgleanform.html' %}
		<div class="form-actions">
			<input type="submit" class="btn btn-success pull-right" value="Save">
		</div>
	</form>
{% endblock body %}