<html>
	<head>
		<title>Attendee List for {{glean.title}}</title>

		<style>
		/* ==========================================================================
		printglean
		========================================================================== */
		.print-body{
		   width:511pt;
		}
		.print-table{
		   font-size:12pt;
		   width:100%;
		}
		table, tr, td{
			border:1px #444 solid;
		}
		</style>

	</head>
	<body class="print-body">
		<h2>
			{{glean.title}}
		</h2>
		<p>
			<small>{{glean.datetime}}</small>
		</p>
		<table class="print-table">
			<tr>
				<td>Attended</td>
				<td>Name</td>
				<td>Hours</td>
				<td>Group</td>
				<td>Members</td>
				<td>Notes</td>
				<td>Photo</td>
				<td>Emergency Contact</td>
				<td>EC Phone</td>
			</tr>
			{% for person in glean.rsvped.all %}
			<tr>
				<td>&nbsp;</td>
				<td><a href="{% url 'userprofile:userprofile' person.id %}">{{person.profile_set.get.first_name}} {{person.profile_set.get.last_name}}</a></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>{{person.profile_set.get.photo_release}}</td>
				<td>{{person.profile_set.get.ecfirst_name}} {{person.profile_set.get.eclast_name}}</td>
				<td>{{person.profile_set.get.ecphone}}</td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>