<table>

<tbody><tr>
<td><label for="id_name"><label for="id_name">Name<span class="text-error" style="font-size:1.2em">*</span></label></label></td>
   <td>{{form.name}}</td>
 </tr>

<tr>
<td><label for="id_description"><label for="id_description">Description</label></label></td>
   <td>{{form.description}}</td>
 </tr>

<tr>
<td><label for="id_towns"><label for="id_towns">Towns</label></label></td>
   <td>{{form.towns}}</td>
 </tr>

<tr>
<td><label for="id_state"><label for="id_state">State</label></label></td>
   <td>{{form.state}}</td>
 </tr>

</tbody></table>