{% extends 'base.html' %}
{% load url from future %}
{% block title %}
Edit {{county.name}}
{% endblock title %}
{% block heading %}
<h3>Edit County</h3>
{% endblock heading %}
{% block content %}
	<form method="post" action="">
		{% csrf_token %}
		{% include 'counties/customcounty.html' %}
		<div class="form-actions">
			<span class="pull-left"><span class="text-error" style="font-size:1.2em">*</span>Denotes a Required Field</span>
			<input type="submit" class="pull-right btn btn-success" value="Save">
		</div>
	</form>
{% endblock content %}