{% extends 'base.html' %}
{% load comments %}
{% load url from future %}
{% block title %}
Welcome to the Gleaning Interface!
{% endblock %}
{% block content %}

{% if gleans %}
<ul>
{% for glean in gleans %}
<li>
<a href="{% url 'gleanevent:detailglean' glean.id %}">{{ glean.title }}</a> - {{glean.date}}
</li>
{% endfor %}
</ul>


{% else %}
<span>No gleans :(</span>
{% endif %}
<div class="divider" style="width:100%; clear:both; border-bottom:dotted #444 1px;">&nbsp;</div>
	{% for post in posts %}
		<h3><a href="{% url 'posts:detailpost' post.id %}">{{post.title}}</a></h3>
		<p>{{post.excerpt}}</p>
		{% get_comment_count for post as comment_count %}
		<p><small>{{comment_count}} Comment{% if comment_count != 1 %}s{% endif %}</small></p>
	{% endfor %}
{% endblock %}