{% load gleanevent_extras %}
{%for field in form %}
	{% ifnotequal field.auto_id|dater -1 %}
  			<div class="input-append datetimechoser">
    			<label for="{{ field.id_for_label }}"> {{ field.label_tag }} <input id="{{ field.auto_id }}" maxlength=200 name="{{ field.name }}" data-format="MM/dd/yyyy hh:mm:ss" type="text"></input>
    		<span class="add-on">
     			 <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
    		</span>
  	   		</div>
	{% else %}
	   <p><label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>{{ field }}</p>
	{% endifnotequal %}
	
{% endfor %}