{% extends 'base.html' %}
{% load url from future %}
{% block title %}
Announcement Index
{% endblock title %}
{% block heading %}
<h3>Announcement Index</h3>
{% endblock heading %}
{% block content %}
	{% if announcements %}
	{% if 'announce.uniauth' in perms %}
		<ul>
			{% for announce in announcements %}
				<li>
					<a href="{% url 'announce:combinedannounce' announce.id %}">{{ announce.datetime }} -{{announce.member_organization}}</a>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<ul>
			{% for announce in announcements %}
				<li>
					<a href="{% url 'announce:combinedannounce' announce.id %}">{{ announce.title }}</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
	{% else %}
	<span>No Announcements :(</span>
	{% endif %}
{% endblock content %}
{% block related %}
<p>This index shows you all the announcements you’ve sent, and the recipients (by county).</p>
<small>To make a new announcement, go to the Glean you'd like to announce and click on the "New Announcement Button"</small>

{% endblock related %} 