{% extends 'base.html' %}
{% load url from future %}
{% block title %}Announcement for {{announce.subject}}
{% endblock title %}
{% block heading %}<h1>Make an Announcement for this glean!</h1>{% endblock heading %}
{% block content %}
		<form method="post" action="">
			{% csrf_token %}
			{% include 'announce/announceform.html' %}
			<input type="submit" value="Go!" />
		</form>
{% endblock content %}
{% block related %}
		<h3>Intended Recipients</h3>
		<ul>
		{% for county in source.counties.all %}
		<li><a href="{% url 'counties:detailcounty' county.id %}">{{county}}</a></li>
		<ul>
			<li>{{county.people.count}} Recipient{% if county.people.count > 1 %}s{% endif %}</li>
		</ul>
		{% endfor %}
		</ul>
{% endblock related %}