{% extends 'base.html' %}
{% load url from future %}
{% block title %}Announcement for {{glean.title}}
{% endblock title %}
{% block content %}
<h2>Announcement for "{{glean.title}}"</h2>
{% if announcement.sent %}
<h4>Sent!</h4>
{% else %}
<a href="{% url 'announce:editannounce' announcement.id %}" class="btn btn-info">Edit Message</a>
<a href="{% url 'announce:edittemplate' announcement.template.id %}" class="btn btn-warning">Edit Template</a>
<form method="POST" action="" style="display:inline-block;">{% csrf_token %}
	<input type="submit" class="btn btn-danger" value="  SEND!!  " data-loading-text="Sending...">
</form>
<br />

{% endif %}
	<div class="span4" style="border:#444 1px solid; min-height:520px;">{{test|safe}}</div>
	<div class="span4">
		<h3>Users Invited</h3>
		<ul>
			{% for county in announcement.glean.counties.all %}
			<li>{{county}}</li>
			<ul>{% for person in county.people.all %}
					<li>{{person.first_name}} {{person.last_name}} - {{person.user.email}}</li>
				{% endfor %}
			</ul>
			{% endfor %}
		</ul>
	</div>
{% endblock content %}