{% extends 'base.html' %}
{% load url from future %}


{% block title %}Announcement for {{glean.title}}
{% endblock title %}


{% block heading %}
<h2>Announcement for "{{glean.title}}"</h2>
{% if not announcement.sent %}
<p><small><a href="{% url 'announce:deleteannounce' announcement.id %}" class="">(Delete This Announcement)</a></small></p>
{% endif %}
<br />
{% endblock heading %}


{% block content %}
{% if announcement.sent %}
<h4>Sent on {{announcement.datetime}}</h4>
{% else %}
<form method="POST" action="{% url 'announce:sendannounce' announcement.id %}" style="display:inline-block;">{% csrf_token %}
	<input type="submit" class="btn btn-danger" value="  SEND!!  " data-loading-text="Sending...">

</form>


{% endif %}
<h4 style="text-align:center;">Preview of Announcement Email</h4>
<h3>Subject Line: {{subject}}</h3>
	<iframe width="100%" height="400px" src="{% url 'announce:htmlemail' announcement.id %}"></iframe>
	
{% endblock content %}


{% block related %}
{% include 'announce/recipients.html' %}
{% if not announcement.sent %}
<form method="post" action="">
	<h3></h3>
	{% csrf_token %}
	{% include 'announce/announceform.html' %}
	
</form>
{% endif %}
	
{% endblock related %}