{% extends 'base.html' %}
{% load url from future %}
{% block title %}
Detail for Template - {{template.template_name}}
{% endblock title %}
{% block heading %}
<h1>Delete Template "{{template.template_name}}"?</h1>
{% endblock heading %}
{% block content %}
<h5>This action is IRREVERSIBLE! Think carefully before you delete this template!</h5>
	<div class="mockup">{{template.body | safe}}</div>
	<form method="post" action="">
		{% csrf_token %}
		<input type="submit" class="btn btn-danger" value="Permanently Delete">
	</form>
    <style>
#footer-overall {
    top: 800px;
}
</style>
{% endblock content %}