{% extends 'base.html' %}
{% load url from future %}
{% block title %}
Confirm Announcement Delete - {{announce.title}}
{% endblock title %}
{% block heading %}
<h3>Delete Announcement "{{announce.title}}"?</h3>
{% endblock %}
{% block content %}

<h5>This action is IRREVERSIBLE! Think carefully before you delete this announcement!</h5>
	<div>{{announce.message}}</div>
	<form method="post" action="">
		{% csrf_token %}
		<input type="submit" class="btn btn-danger" value="Permanently Delete">
	</form>
{% endblock content %}