{% extends 'base.html' %}
{% load url from future %}
{% block title %}Announcement for {{announce.subject}}
{% endblock title %}
{% block heading %}
<h3>Edit Announcement</h3>
{% endblock heading %}
{% block content %}
{% if announcement.sent == True %}
<h4>No further edits allowed, the announcement has already been sent</h4>
{% else %}
		<form method="post" action="">
			{% csrf_token %}
			{% include 'announce/announceform.html' %}
			<input type="submit" value="Go!" />
		</form>
{% endif %}
{% endblock content %}
{% block related %}
		{% include "announce/recipients.html" %}
{% endblock related %}