{% extends 'base.html' %}
{% load url from future %}
{% block title %}
	New Template
{% endblock title %}
{% block heading %}
<h3>New Template</h3>
{% endblock heading %}
{% block content %}


	
		<h3>Write your custom template!</h3>
		<h4>It will automatically be saved to your organization</h4>
		<form method="post" action="">
			{% csrf_token %}
			{% include 'announce/templateform.html' %}
			<input type="submit" value="Go!" />
		</form>
	
{% endblock content %}
{% block related %}
	<h4>To edit in content where you'd like, use the following keywords in mail-friendly HTML:</h4>
	<ul>
		<li>{% templatetag openvariable %}content{% templatetag closevariable %} - for your message content</li>
		<li>{% templatetag openvariable %}glean.title{% templatetag closevariable %} - for the glean's title</li>
		<li>{% templatetag openvariable %}glean.description{% templatetag closevariable %} - for the glean's title</li>
		<li>{% templatetag openvariable %}info{% templatetag closevariable %} - for the Glean's Detail Page Link</li>
		<li>{% templatetag openvariable %}unsubscribe{% templatetag closevariable %} - for the Unsubscribe Link</li>
	</ul>
{% endblock related %}