<h3>{% if not announcement.sent %}Intended {% endif %}Recipients</h3>
	
	{% if source %}
		<ul>

			{% if not announcement.sent %}
				{% if announcement.email_recipients %}
					<li>{{announcement.email_recipients.all.count}} Email Recipient{% if not announcement.email_recipients.all.count == 1 %}s{% endif %} {% if announcement.phone_recipients.all.count != 0 %}and {{announcement.phone_recipients.all.count}} Gleaner{% if not announcement.phone_recipients.all.count != 1  %}s{% endif %} to Call{% endif %}
						<ul>
							{% for recipient in announcement.email_recipients.all %}
							<li><a href="{}"><i class="icon-remove text-error"></i></a> <a href="{}">{{recipient.profile_set.get.first_name}} {{recipient.profile_set.get.last_name}}</a></li>
							{% endfor %}
						</ul>
					</li>
						{% endif %}
			{% else %}
				<li>Emailed</li>
				<ul><li>{{announcement.email_recipients.count}} Email Recipients</li></ul> 
				<li>Phone List</li>
				<ul>
					{% for person in announcement.phone_recipients.all %}
						<li>{{person.profile_set.get.first_name}} {{person.profile_set.get.last_name}} - {{person.profile_set.get.phone}}</li>
					{% endfor %}
					<li><a href="{% url 'announce:phoneannounce' announcement.id %}">Printable Phone List</a></li>
			{% endif %}

		</ul>
	{% endif %}