<h3>{% if not announcement.sent %}Intended {% endif %}Recipients</h3>
	{% if source %}
		<ul>

			{% if not announcement.sent %}
				{% if recipients %}
					<li>{{recipients|length}} Email Recipient{% if not recipients|length_is:"1" %}s{% endif %} {% if phone %}and {{phone|length}} Gleaner{% if not phone|length_is:"1" %}s{% endif %} to Call{% endif %}
				{% else %}
					{% for county in source.counties.all %}
						<li><a href="{% url 'counties:detailcounty' county.id %}">{{county}}</a></li>
						<ul>
							<li>{{county.people.count}} Recipient{% if county.people.count > 1 %}s{% endif %}</li>
						</ul>
					{% endfor %}
				{% endif %}
			{% else %}
				<li>Emailed</li>
				<ul><li>{{announcement.email_recipients.count}} Email Recipients</li></ul> 
				<li>Phone List</li>
				<ul>
					{% for person in announcement.phone_recipients.all %}
						<li>{{person.profile_set.get.first_name}} {{person.profile_set.get.last_name}} - {{person.profile_set.get.phone}}</li>
					{% endfor %}
					<li><a href="{% url 'announce:phoneannounce' announcement.id %}">Printable Phone List</a></li>
			{% endif %}

		</ul>
	{% endif %}