<div id="recipient-box" class="cream-box">	
	{% if source %}
		<ul>

			{% if not announcement.sent %}
				{% if announcement.email_recipients %}
					<li>{{announcement.email_recipients.all.count}} Email Recipient{% if not announcement.email_recipients.all.count == 1 %}s{% endif %} {% if announcement.phone_recipients.all.count != 0 %}and {{announcement.phone_recipients.all.count}} Gleaner{% if not announcement.phone_recipients.all.count != 1  %}s{% endif %} to Call{% endif %}
						<ul>
							{% for recipient in announcement.email_recipients.all|slice:"10" %}
							<li><a href="{% url 'announce:uninviteuser' announcement.id recipient.id %}"><small class="text-error">(remove)</small></a> <a href="{% url 'userprofile:userprofile' recipient.id %}">{{recipient.profile.first_name}} {{recipient.profile.last_name}}</a></li>
							{% endfor %}
							{% if announcement.email_recipients.all.count >= 11 %}
							<li><a href="{% url 'announce:recipientlist' announcement.id %}">More...</a></li>
							{% endif %}
						</ul>
					</li>
				{% endif %}
			{% else %}
				<li>Emailed</li>
				<ul><li>{{announcement.email_recipients.count}} Email Recipients</li></ul> 
				{% if announcement.phone_recipients.count != 0 %}
				<li>Phone List</li>
				<ul>
					{% for person in announcement.phone_recipients.all %}
						<li>{{person.profile.first_name}} {{person.profile.last_name}} - {{person.profile.phone}}</li>
					{% endfor %}
					<li><a href="{% url 'announce:phoneannounce' announcement.id %}">Printable Phone List</a></li>
				</ul>
				{% else %}
				<li>No Phone Based Subscribers to This Glean</li>
				{% endif %}
			{% endif %}

		</ul>
	{% endif %}
</div>