{% extends 'base.html' %}
{% load url from future %}
{% block title %}
Detail for Template - {{template.template_name}}
{% endblock title %}
{% block content %}
<h1>Viewing the Template "{{template.template_name}}"</h1>
<a href="{% url 'announce:edittemplate' template.id %}" class="btn btn-warning">Edit Template</a>
<a href="{% url 'announce:deletetemplate' template.id %}" class="btn btn-danger">Delete Template</a>
<h5>HTML Email is tricky buisness! What you see is not necessarily what you get!</h5>
	<div width="400px">{{template.body | safe}}</div>
{% endblock content %}