{% extends 'base.html' %}
{% load url from future %}
{% block title %}
Announcement Index
{% endblock title %}


{% block heading %}
<h3>Template Index</h3>
{% endblock heading %}


{% block content %}

	{% if templates %}
		{% if 'announce.uniauth' in perms %}
			<ul>
				{% for template in templates %}
					<li>
						<a href="{% url 'announce:detailtemplate' template.id %}">{{template.member_organization}} - {{ template.template_name }}</a> - <a href="{% url 'announce:edittemplate' template.id %}" class="btn btn-warning">Edit Template</a>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<ul>
				{% for template in templates %}
					<li>
						<a href="{% url 'announce:detailtemplate' template.id %}">{{ template.template_name }}</a> - <a href="{% url 'announce:edittemplate' template.id %}" class="btn btn-warning">Edit Template</a>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% else %}
		<span>No templates :(</span>
	{% endif %}
{% endblock content %} 


{% block related %}
	<a class="btn btn-info" href="{% url 'announce:newtemplate' %}" >New Template</a>
{% endblock related %}