{% extends 'base.html' %}
{% load url from future %}
{% block title %}
{{object.name}}
{% endblock %}
{% block body %}
<style>
h4.profileh4 {
	margin: 0px;
	padding: 0px;
	margin-top: 10px;
}

.closetext {
	line-height: 90%;
}

</style>
<div "detailwrapper" style="margin-left: 100px; margin-right: 100px; margin-top: 0px;">
	<h1 style="float:left;">{{object.name}}</h1>
	<span style="float: right">
				<a {% if 'userprofile.uniauth' in user.get_group_permissions %} style="margin-right: 0px;" {% else %} style="margin-right: 0px;" {% endif %} href="{% url 'memorgs:editmemorg' object.id %}"><button class="glean-button green-button">Edit</button></a>
				{% if 'userprofile.uniauth' in user.get_group_permissions %}
				<a href="{% url 'memorgs:newadmin' object.id %}"><button class="glean-button yellow-button">New Administrator</button></a>
				{% endif %}
    </span>
	<div id="MemOrgDetails" class="yellow-box red-top" style="width:100%; display: inline-block;">
		<span style="display: inline; float: left; margin-left: 20px;">
		    <h4 class="profileh4">Calendar Color</h4><p class="closetext">{{object.color}}</p>
			<h4 class="profileh4">Physical Address</h4>
			<p class="closetext">
			{{object.address_one}}<br/>
			{% if object.address_two != "" %}
			{{object.address_two}}<br/>
			{% endif %}
			{{object.city}}<br/>
			{{object.state}}<br/>
			{{object.zipcode}}<br/>
			</p>
			<h4 class="profileh4">Mailing Address</h4>
			<p class="closetext">
			{% if object.physical_is_mailing == true %}
			See Physical Address
			{% else %}
			{{object.mailing_address_one}}<br/>
			{% if object.mailing_address_two != "" %}
			{{object.mailing_address_two}}<br/>
			{% endif %}
			{{object.mailing_city}}<br/>
			{{object.mailing_state}}<br/>
			{{object.mailing_zip}}<br/>
			{% endif %}
			</p>
			<h4 class="profileh4">Description</h4>
			<p class="closetext">{{object.description}}</p>
		</span>
		<span style="float: left; position: inline;  margin-left: 250px;">
			<h4 class="profileh4">Website:{{object.website}}</h4>
			<h4 class="profileh4">{{object.phone_1_type}}: {{object.phone_1}}</h4>
			<h4 class="profileh4">{{object.phone_2_type}}: {{object.phone_2}}</h4>
		</span>
		<span style="display: inline; float: right; margin-right: 150px;">
			<h4 class="profileh4">Recent Gleans</h4>
			<p class="closetext">
				{% if object.glean_set.all %}

			{% for glean in object.glean_set.all|slice:"10" %}
			<a href="{% url 'gleanevent:detailglean' glean.id %}">{{glean.date}} - {{glean.title}}</a>
			{% endfor %}
			{% else %}
			No Gleans On Record
			{% endif %}
			</p>
		</span>
	</div>
	<div>
    <div id="MemOrgCounties" class="yellow-box yellow-top" style="width: 45%; float: left; margin-top: 12px; min-height: 150px;">
    <span style="margin-left: 20px; float: left;">
    <h4 class="profileh4">Counties</h4>
    <div style="-webkit-column-count:2; -moz-column-count:2; column-count:2; column-gap:10px; -moz-column-gap:10px; -webkit-column-gap:10px;">
    <p class="closetext">
    {% if object.counties %}
    	{% for county in object.counties.all %}
    	      {{county}}<br/>
    	 {% endfor %}
    {% endif %}
    </p>
    </div>
    </span>
    </div>
    <div id="MemOrgStaff" class="yellow-box green-top" style="width: 53%; float: right; min-height: 150px;">
    	<span style="margin-left: 20px; float: left;">	
    		<h4 class="profileh4">Administrators</h4>
    		<span style="-webkit-column-count: 2; -moz-column-count:2; column-count:2; column-gap:10px; -moz-column-gap:10px; -webkit-column-gap:10px;">
    		<p class="closetext">
    		{% for person in memorg.profile_set.all %}
			{% if 'userprofile.auth' in person.user.get_group_permissions %}
    		<a href="{% url 'userprofile:userprofile' person.user.id %}">{{person.first_name}} {{person.last_name}}</a><br/>
    		{% endif %}
    		{% endfor %}
    		</p>
    		</span>
    	</span>
    	<span style="margin-right: 80px; float: right;">
    		<h4 class="profileh4">Executive Director</h4>
    		<p class="closetext">
    		{{object.first_name}} {{object.last_name}}<br/>
    		{{object.phone}}<br/>
    		{{object.testing_email}}
    		</p>
    	</span>
    </div>
    </div>

</div>
{% endblock body %}