{% extends 'base.html' %}
{% load url from future %}
{% block title %}
{{object.name}}
{% endblock %}
{% block body %}
<div "detailwrapper">
	<h1 style="float:left;">{{object.name}}</h1>
				<a {% if 'userprofile.uniauth' in user.get_group_permissions %} style="margin-right: 0px;" {% else %} style="margin-right: 0px;" {% endif %} href="{% url 'memorgs:editmemorg' object.id %}"><button class="glean-button green-button">Edit</button></a>
				{% if 'userprofile.uniauth' in user.get_group_permissions %}
				<a href="{% url 'memorgs:newadmin' object.id %}"><button class="glean-button yellow-button">New Administrator</button></a>
				{% endif %}

	<div id="MemOrgDetails" class="yellow-box red-top">
		<span style="display: inline; float: left; margin: 20px;">
			<h4>Physical Address</h4>
			<address>
				{{object.address_one}}<br/>
				{% if object.address_two != "" %}
				{{object.address_two}}<br/>
				{% endif %}
				{{object.city}}<br/>
				{{object.state}}<br/>
				{{object.zipcode}}<br/>
			</address>
			<h4>Mailing Address</h4>
			{% if object.physical_is_mailing == true %}
			See Physical Address
			{% else %}
			{{object.mailing_address_one}}<br/>
			{% if object.mailing_address_two != "" %}
			{{object.mailing_address_two}}<br/>
			{% endif %}
			{{object.mailing_city}}<br/>
			{{object.mailing_state}}<br/>
			{{object.mailing_zip}}<br/>
			{% endif %}
			<h4>Description</h4>
			{{object.description}}
		</span>
		<span style="display: inline; float: left; margin: 20px; margin-left: 400px;">
			{{object.website}}
			{{object.phone_1}}
			{{object.phone_2}}
		</span>
		<span style="display: inline; float: right; margin: 20px;">
			<h4>Recent Gleans</h4>
				{% if memorg.glean_set.all %}

			{% for glean in memorg.glean_set.all|slice:"10" %}
			<a href="{% url 'gleanevent:detailglean' glean.id %}">{{glean.date}} - {{glean.title}}</a>
			{% endfor %}
			{% else %}
			No Gleans On Record
			{% endif %}
		</span>
	</div>
	<div>
    <div id="MemOrgCounties" class="yellow-box yellow-top" style="width: 45%; float: left; margin-top: 12px; height: 130px;">
    <span style="margin: 20px; float: left;">
    <h4>Counties</h4>
    <div style="-webkit-column-count:2; -moz-column-count:2; column-count:2; column-gap:10px; -moz-column-gap:10px; -webkit-column-gap:10px;">
    {% if object.counties %}
    	{% for county in object.counties.all %}
    	      {{county}}<br/>
    	 {% endfor %}
    {% endif %}
    </div>
    </span>
    </div>
    <div id="MemOrgStaff" class="yellow-box green-top" style="width: 53%; float: right; height: 130px;">
    	<span style="margin: 20px; float: left;">	
    		<h4>Administrators</h4>
    		<span style="-webkit-column-count: 2; -moz-column-count:2; column-count:2; column-gap:10px; -moz-column-gap:10px; -webkit-column-gap:10px;">
    		{% for person in memorg.profile_set.all %}
			{% if 'userprofile.promote' in person.user.get_group_permissions %}
    		<a href="{% url 'userprofile:userprofile' person.user.id %}">{{person.first_name}} {{person.last_name}}</a><br/>
    		{% endif %}
    		{% endfor %}
    		</span>
    	</span>
    	<span style="margin: 20px; float: right;">
    		<h4>Executive Director</h4>
    		{{object.first_name}} {{object.last_name}}<br/>
    		{{object.phone}}
    	</span>
    </div>
    </div>

</div>
{% endblock body %}