{% extends 'base.html' %}
{% load url from future %}
{% block title %}
{{memorg.name}} Details
{% endblock %}
{% block content %}
<h1>{{memorg.name}} Details</h1>
{% if perms.memberorgs.auth and user.profile_set.get.member_organization == glean.member_organization or perms.memberorgs.uniauth %}
<a href="{% url 'memorgs:editmemorg' memorg.id %}" class="btn btn-warning">edit</a>
{% endif %}
{{memorg.description|linebreaks}}

<h5>Members:</h5>
<ul>
{% for person in memorg.profile_set.all %}
<li>{{person.first_name}} {{person.last_name}}</li>
{% endfor %}
</ul>
<h5>Gleans:</h5>
<ul>
	{% if memorg.glean_set.all %}

{% for glean in memorg.glean_set.all %}
<li><a href="{% url 'gleanevent:detailglean' glean.id %}">{{glean.date}} - {{glean.title}}</a></li>
{% endfor %}
{% else %}
<li>No Gleans yet :(</li>
</ul>
{% endif %}

{% endblock %}