{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load url from future %}
{% block title %}
Edit {{memorg.name}}
{% endblock title %}

{% block heading %}
<div class="form-wrapper-memorg">
<h3>Edit Member Organization</h3>
</div>
{% endblock heading %}



{% block content %}
<div class="form-wrapper-memorg">
<div class="glean-index-red red">
	<div class="glean-index-red-child">
	    <h4>Information entered into this form is only viewable by administrators.</h4>
	</div>
</div>
<div class="form-errors">
{{form.errors}}
</div>
<div style="width:600px; float:left">
  {% crispy form %}
</div>
<style>
.add-on {
    background-color: transparent !important;
    border: none !important;
}
.row {
    margin-left: 0px !important;
  }
</style>
<script type="text/javascript" src="/static/js/member_org.js"></script>
</div>
{% endblock content %}