{% extends 'base.html' %}
{% load url from future %}
{% block title %}
Edit {{memorg.name}}
{% endblock title %}

{% block heading %}
<h3>Edit Member Organization</h3>
{% endblock heading %}

{% block content %}
	<form method="post" action="">
		{% csrf_token %}
		{% include 'memberorgs/memorgform.html' %}
		<span class="pull-left"><span class="text-error" style="font-size:1.3em">*</span>Denotes a Required Field</span>
		<div class="form-actions pull-right">
			<input type="submit" name="action" class="btn btn-success" value="Save">
		</div>
	</form>
{% endblock content %}