{% extends 'base.html' %}
{% load url from future %}
{% block title %}
Member Organization Index
{% endblock title %}

{% block body %}

<div id="glean-index-header">
	<h1 class="pull-left">Member Organization Index</h1>
	<div id="glean-buttons">
		<a href="{% url 'memorgs:newmemorg' %}">
			<button class="glean-button green-button no-margin">
				Add a New Member Organization
			</button>
		</a>
	</div>
</div>

<div class="glean-index-red red">
	<h3>Our Member Organizations Index page</h3>
	<p>This is something that only Salvation Farms members get to see. If you'd like to check a Member Organization's data, just click on their name. As a Sal Farms member you have full editing rights over their content, but be careful, with great power comes the great ability to royally screw things up!</p>
	<p>Creating a new Member Organization automatically creates a default email template for them, as well as gives you the opportunity to make administrative users.</p>
</div>

<br />

<div id="glean-index" class="yellow-box yellow-top">
	{% if memorgs %}
	
		<div class="glean-column">
			<ul>
			{% for memorg in memorgs %}
			{% if forloop.counter|divisibleby:10 %}
			</ul>
		</div>
		<div class="glean-column">
			<ul>
			{% endif %}
			<li><a href="{% url 'memorgs:detailmemorg' memorg.id %}">{{ memorg.name }}</a>
			</li>
			{% endfor %}
			</ul>
		</div>
	</div>
	{% else %}
	<span>No memorgs :(</span>
	{% endif %}
</div>
<style>
#footer-container {
    top: 0px;
}
html {
    height: 1000px;
}
</style>
{% include "about_box.html" %}
{% include "partners.html" %}
{% endblock body %}
