{% extends 'base.html' %}
{% load url from future %}
{% block title %}
New Member Organization
{% endblock title %}

{% block heading %}
<h3>New Member Organization</h3>
{% endblock heading %}

{% block content %}
	<form method="post" action="">
		{{form.errors.as_ul}}
		{% csrf_token %}
		{% include 'memberorgs/memorgform.html' %}
		<div class="form-actions text-right">
			<input type="submit" name="action" class="btn btn-success" value="Save">
			<input type="submit" name="action" class="btn btn-danger" value="Save and Create Administrator">
		</div>
	</form>
{% endblock content %}