{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load url from future %}
{% block title %}
New Member Organization
{% endblock title %}

{% block heading %}
<div class="form-wrapper-memorg">
<h3>New Member Organization</h3>
</div>
{% endblock heading %}

{% block content %}
<div class="form-wrapper-memorg">
<div class="glean-index-red red">
	<div class="glean-index-red-child">
	    <h4>It's Good to Make New Friends.</h4>
	</div>
</div>
<div class="form-errors">
{{form.errors}}
</div>
<div style="width:600px; float:left">
  {% crispy form %}
</div>
<style>
.add-on {
    background-color: transparent !important;
    border: none !important;
}
.row {
    margin-left: 0px !important;
  }
</style>
<style>
#footer-overall {
    top: -400px;
    position: relative;
}
</style>
</div>
{% endblock content %}