{% extends 'base.html' %}
{% load url from future %}
{% block title %}
New Administrator
{% endblock title %}

{% block heading %}
<h3>New Member Organization Administrator</h3>
{% endblock heading %}

{% block content %}
	<form method="post" action="">
		{% csrf_token %}
		{% include 'memberorgs/memorgform.html' %}
		<input type="submit" class="btn btn-success" name="action" value="Save">
		<input type="submit" class="btn btn-danger" name="action" value="Save And Create Another Administrator">
	</form>
<style>
#footer-overall {
    top: 250px;
}
</style>
{% endblock content %}