{% extends 'base.html' %}
{% load comments %}
{% load url from future %}
{% block title %}
{{post.name}} Details
{% endblock %}
{% block content %}
<a href="{% url 'posts:detailpost' post.id %}"><h1>{{post.name}} Details</h1></a>
<p><small>posted {{post.datetime}} by {{post.created_by}}</small></p>
{% if 'posts.auth' in perms and user.profile_set.get.member_organization == post.member_organization or 'posts.uniauth' in perms %}<a href="{% url 'posts:editpost' post.id %}" class="btn btn-warning">edit</a> - <a href="{% url 'posts:deletepost' post.id %}"><small>(delete)</small></a>{% endif %}
<p>{{post.body}}</p>
{% render_comment_list for post %}
{% render_comment_form for post %}
{% endblock %}