<table>

<tbody><tr>
<td><label for="id_name"><label for="id_name">Name<span class="text-error">*</span></label></label></td>
   <td>{{form.name}}</td>
 </tr>

<tr>
<td><label for="id_description"><label for="id_description">Description</label></label></td>
   <td>{{form.description}}</td>
 </tr>

<tr>
<td><label for="id_address_one"><label for="id_address_one">Address one</label></label></td>
   <td>{{form.address_one}}</td>
 </tr>

<tr>
<td><label for="id_address_two"><label for="id_address_two">Address two</label></label></td>
   <td>{{form.address_two}}</td>
 </tr>

<tr>
<td><label for="id_city"><label for="id_city">City</label></label></td>
   <td>{{form.city}}</td>
 </tr>

<tr>
<td><label for="id_state"><label for="id_state">State</label></label></td>
   <td>{{form.state}}</td>
 </tr>

<tr>
<td><label for="id_zipcode"><label for="id_zipcode">Zipcode</label></label></td>
   <td>{{form.zipcode}}</td>
 </tr>

</tbody></table>