{% extends 'base.html' %}
{% load url from future %}
{% block title %}
Confirm Recipient Site Deletion- {{site.name}}
{% endblock title %}

{% block heading %}
<h3>Delete Recipient Site "{{site.name}}"?</h3>
{% endblock heading %}

{% block content %}
<h5>This action is IRREVERSIBLE! Think carefully before you delete this recipient site!</h5>
<p>{{site.description}}</p>
	<form method="post" action="">
		{% csrf_token %}
		<input type="submit" class="btn btn-danger" value="Permanently Delete">
	</form>
{% endblock content %}