{% extends 'base.html' %}
{% load url from future %}
{% block title %}
{{site.name}} Details
{% endblock %}
{% block body %}
<div id="heading">
<h1 style="width:900px">{{object.name}}</h1>
    <span style="float: right;">
		<a href="{% url 'site:editsite' object.pk %}"><button class="glean-button yellow-button">edit</button></a><a href="{% url 'site:deletesite' object.pk %}"><button class="glean-button red-button">delete</button></a>
	</span>
</div>
<div class="glean-index-red red" style="width: 1030px; margin: 30px 0px; clear:both;">
	<h3>Vermont Needs Food!!!</h3>
	<p>Recipient site names and information is important to all distribution, data tracking, and future reporting.</p>
</div>
<div class="yellow-box yellow-top" style="width: 1030px; padding: 20px">
	<h3>Description</h3><p>{{object.description}}</p>
	<h3>Address One</h3><p>{{object.address_one}}</p>
	<h3>Address Two</h3><p>{{object.address_two}}</p>
	<h3>City</h3><p>{{object.city}}</p>,<h3>State</h3> <p>{{object.state}}</p> <h3>Zip</h3><p>{{object.zip}}</p>
	<h3>Website</h3><p>{{object.website}}</p>
</div>
<style>
#heading{
	height: 30px;
	width: 1073px;
}
p {
	padding-left: 30px;
}
h1 {
	display: inline-block;
	float: left;
}
</style>
{% endblock body %}