{% extends 'base.html' %}
{% load url from future %}
{% block title %}
{{site.name}} Details
{% endblock %}
{% block body %}
<h1>{{object.name}} Details</h1>
<div class="glean-index-red red" style="width: 1030px; margin: 30px 0px;">
	<h3>Vermont Needs Food!!!</h3>
</div>
<div class="yellow-box yellow-top" style="width: 1070px;">
    <span style="float: right;">
		<a href="{% url 'site:editsite' object.pk %}"><button class="glean-button yellow-button">edit</button></a> - <a href="{% url 'site:deletesite' object.pk %}"><button class="glean-button red-button">delete</button></a>
	</span>
	<p><h3>Description</h3>{{object.description}}</p>
	<p><h3>Address One</h3>{{object.address_one}}</p>
	<p><h3>Address Two</h3>{{object.address_two}}</p>
	<p><h3>City</h3>{{object.city}},<h3>State</h3> {{object.state}} <h3>Zip</h3>{{object.zip}}</p>
</div>
{% endblock body %}