{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load url from future %}
{% block title %}
Edit {{object.name}}
{% endblock title %}

{% block heading %}
<h1>Edit {{object.name}} Recipient Site</h1>
{% endblock heading %}


{% block body %}
<div class="glean-index-red red" style="width: 1030px;">
	<h3>Vermont Needs Food!!!</h3>
	    <h4>Accurately enter recipient site names and information as this is important to all distribution, data tracking, and future reporting.</h4>
</div>
<div class="form-errors">
	{{form.errors}}
</div>
<div class="crispy_form_tag">
	{% crispy form %}
</div>
<script src="/static/js/recipient_site_form.js"></script>
{% endblock body %}