{% extends 'base.html' %}
{% load url from future %}
{% block title %}
Recipient Sites
{% endblock title %}

{% block body %}



<div style="width: 1070px; height: 50px;">
<h1 style="float:left;">Recipient Sites</h1>
	<a href="{% url 'site:newsite' %}" style="float: right;"><button class="glean-button green-button" >Add a New Site</button></a>
</div>
<div class="glean-index-red red" style="width: 1030px; margin: 20px 0px;">
	<h3>Vermont Needs Food!!!</h3>
    	<h4><p>Click on a recipient site to view details – or click edit to edit.</p>

		<p>Adding in recipient sites is necessary for entering in distribution data (since the form for entering data links to names that are already entered into the Interface), so make sure you create a profile for each recipient site you work with. </p></h4>
</div>

<div class="index-table" style="width: 1030px">
<div class="row-fluid">
	<div class="span12">
		{% if sites %}
		<ul>
		{% for site in sites %}
		<li>
			<a href="{% url 'site:detailsite' site.id %}">{% if 'distro.auth' in perms %}{{site.member_organization}} - {% endif %}{{ site.name }}</a>
		</li>
		{% endfor %}
		</ul>
		{% else %}
		<span>(Nothing here at the moment)</span>
		{% endif %}
	</div>
</div>
</div>
{% endblock body %} 