{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load url from future %}
{% block title %}
New Recipient Site
{% endblock title %}

{% block heading %}
<h1>New Recipient Site</h1>
{% endblock heading %}


{% block body %}
<div class="glean-index-red red" style="width: 1030px;">
	<h3>Vermont Needs Food!!!</h3>
	    <h4>Submit information about your recipient sites here. Remember that when you enter distribution data for a particular recipient site, that exact name is what links the data to the site – so be sure to keep the name consistent (limit any edits to this field).</h4>
</div>
<div class="form-errors">
	{{form.errors}}
</div>
<div class="crispy_form_tag">
	{% crispy form %}
</div>
<script src="/static/js/recipient_site_form.js"></script>
{% endblock body %}
