{% extends 'base.html' %}
{% load url from future %}
{% block title %}
New Recipient Site
{% endblock title %}


{% block heading %}
<h3>New Recipient Site</h3>
{% endblock heading %}


{% block content %}
<h3 class="text-success">{{notice}}</h3>
	<form method="post" action="">
		{% csrf_token %}
		{% include 'recipientsite/custom_recipient.html' %}
		<div class="form-actions">
			<span class="pull-left"><span class="text-error">*</span>Denotes A Required Field</span>
			<div class="pull-right">
				<input type="submit" class="btn btn-success" name='action' value="Save">
				<input type="submit" class="btn btn-danger" name='action' value="Save and Create Another">
			</div>
		</div>
	</form>
{% endblock content %}
{% block related %}
<p>Add information about your recipient sites here.</p>

<p>Adding in recipient sites is necessary for entering in distribution data (since the form for entering data links to names that are already entered into the Interface), so make sure you create a profile for each recipient site you work with.</p>
{% endblock related %}
